/* ==========================================================================
   HELPERS
   ========================================================================== */
.row {
  position: relative;
  width: $row;
  max-width: 100%;
  margin: 0 auto;
  @include for-size(row) {
    width: 100%;
    max-width: 94%;
  }
}

#content {
  padding: 4rem 0;

}

#wrap {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.btn {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 0;
  outline: 0;
  background: $b;
  appearance: none;
  @include transition(all, .4s, ease);

  &:hover {
    background: darken($b, 8%);
    @include shadow(2);
  }

  &:active {
    background: darken($b, 15%);
  }

  &--red {
    background: #c00;

    &:hover {
      background: darken(#c00, 8%);
    }

    &:active {
      background: darken(#c00, 15%);
    }
  }
}

.c {
  font-size: 0;
  line-height: 0;
  display: block;
  clear: both;
  overflow: hidden;
}

.cfx {
  &:after,
  &:before {
    display: table;
    clear: both;
    content: ' ';
  }
}

.bg_center {
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.no_select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.desctop_hide {
  display: none !important;
}

@include for-size(mobile) {
  .mobile_hide {
    display: none !important;
  }
  .desctop_hide {
    display: block !important;
  }
}

/* ==========================================================================
   WORDPRESS DEFAULT CLASSES
   ========================================================================== */
.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.wp-caption {
  margin: 10px;
  padding-top: 4px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f3f3f3;
}

.wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* ==========================================================================
   WYSIWYG
   ========================================================================== */
.wysiwyg {
  h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 10px;

  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 2.2rem;
  }

  h6 {
    font-size: 2rem;
  }

  p {
    font-size: 16px;
    line-height: 1.4;
    padding-bottom: 20px;
    word-break: break-word;
  }

  ul {
    margin-left: 3rem;
    padding-bottom: 2rem;

    li {
      line-height: 1.4;
    }
  }
}

/* ==========================================================================
   CONTACT FORM 7
   ========================================================================== */
.wpcf7 {
  width: 100%;

  .screen-reader-response {
    display: none;
  }

  .wpcf7-not-valid-tip {
    font: 500 14px/1 $font;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: #ff5f5f;
    background: #eee;
  }

  .wpcf7-response-output {
    display: none;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    padding: 15px 20px;
    cursor: pointer;
    text-align: center;
    color: white;
    background: #ff5f5f;

    &.wpcf7-mail-sent-ng {
      background: #1091ae;
    }

    &.wpcf7-mail-sent-ok {
      background: #16a085;
    }
  }

  .wpcf7-form-control-wrap {
    position: relative;
    display: block !important;
  }
}

div.wpcf7 .ajax-loader {
  display: inline-block;
  visibility: hidden;
  width: 16px;
  height: 16px;
  margin: 0 0 0 4px;
  margin-left: 10px;
  padding: 5px;
  vertical-align: middle;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  background-image: url(../../img/ajax-loader.gif);
}

div.wpcf7 .ajax-loader.is-active {
  visibility: visible;
}

//[checkbox checkbox-999 use_label_element exclusive "1" "2" "3"]
//.wpcf7-list-item{
//    display: block;
//    margin: 8px 0;
//    color: #484848;
//    label{
//        display: inline-block;
//        span{
//            position: relative;
//            display: inline-block;
//            padding-left: 30px;
//            cursor: pointer;
//            vertical-align: top;
//            &:before{
//                position: absolute;
//                top: 0;
//                left: 0;
//                width: 14px;
//                height: 14px;
//                content: '';
//                border: 1px solid #ccc;;
//            }
//            &:after{
//                font-size: 21px;
//                font-weight: 700;
//                position: absolute;
//                top: -10px;
//                left: 2px;
//                content: '\2713';
//                opacity: 0;
//                color: #ccc;
//            }
//        }
//        input{
//            display: none;
//            &:checked+span{
//                &:after{
//                    opacity: 1;
//                }
//            }
//        }
//    }
//}
/* ==========================================================================
   SOCIAL LINK
   ========================================================================== */
.s_link {
  font-size: 0;
  display: inline-block;

  a {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 2px;
    color: #fff;
    border-radius: 50%;
    @include transform (translate3d(0, 0, 0));
    @include transition(all, .5s, cubic-bezier(.165, .84, .44, 1));
    @include shadow(1);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;

    &:before {
      font-size: 20px;
      color: #fff;
      @include center();
    }

    &:hover {
      @include shadow(3);
    }

    &.i-c-bk {
      &:hover {
        background: $facebook;
      }
    }

    &.i-c-tr {
      &:hover {
        background: $twitter;
      }
    }

    &.i-c-ism {
      &:hover {
        background: $instagram;
      }
    }

    &.i-c-ln {
      &:hover {
        background: $linkedin;
      }
    }


    &.i-c-pr {
      &:hover {
        background: $pinterest;
      }
    }

    &.i-c-yb {
      &:hover {
        background: $youtube;
      }
    }
  }
}
