//web page width
$media_row: 1140px;
$media_md: 960px;
$media_sm: 768px;
$media_xs: 480px;

/* ==========================================================================
   colors
   ========================================================================== */
//main color
$a: #181818;
//second color
$b: #3897f0;

// color og link
$link: $a;
// buttons color
$btn: $b;
$border: #ccc;
$text: #333;
$menu: #3897f0;

$facebook: #3b5993;
$twitter: #55acee;
$instagram: #181818;
$linkedin: #0177b5;
$google_plus: #d94733;
$pinterest: #bd1e23;
$youtube: #f80000;