/*--------------------------------------------------------------
OPTIONS
--------------------------------------------------------------*/
@import "sass/01_variables", "sass/02_mixins";
@include declare-font-face("icf", "icf", 400);
/*--------------------------------------------------------------
BASE
--------------------------------------------------------------*/
.social_link {
    display:inline-block;
    float:right;
    width:auto;
    cursor:pointer;
    text-align:center;
    a {
        position:relative;
        display:inline-block;
        width:40px;
        height:40px;
        margin:0 5px;
        color:#fff;
        border-radius:50%;

        @include transition(all, .15s, ease-in);
        &:before {
            font-size:20px;
            position:relative;

            @include center();
        }
        &.icf-facebook {
            background:#3b5993;
            &:before {
                content:"\e858";
            }
        }
        &.icf-twitter {
            background:#55acee;
            &:before {
                content:"\e866";
            }
        }
        &.icf-google-plus {
            background:#d94733;
            &:before {
                content:"\e85d";
            }
        }
        &:hover {
            @include scale( 1.2 );
        }
    }
}
/*--------------------------------------------------------------
HEADER
--------------------------------------------------------------*/
header {
    #logo {
        -webkit-transition:opacity .25s ease-in-out;
           -moz-transition:opacity .25s ease-in-out;
                transition:opacity .25s ease-in-out;
        opacity:1;
        &:hover {
            opacity:.5;
        }
    }
    nav {
        margin-top:10px;
        border:1px solid $grey;
        >ul {
            font-size:0;
            >li {
                position:relative;
                display:inline-block;
                >a {
                    font-size:16px;
                    display:block;
                    padding:5px 15px;
                    border-right:1px solid $grey;
                }
                &.menu-item-has-children {
                    >.sub-menu {
                        position:absolute;
                        visibility:hidden;
                        overflow:hidden;
                        min-width:120px;
                        border:1px solid $grey;
                        background:#fff;

                        @include transition(all, .2s, ease-in-out);
                        >li {
                            >a {
                                font-size:16px;
                            }
                        }
                    }
                    &:hover {
                        >.sub-menu {
                            visibility:visible;
                        }
                    }
                }
            }
        }
    }
}
/*--------------------------------------------------------------
FRONT PAGE
--------------------------------------------------------------*/
/*--------------------------------------------------------------
FOOTER
--------------------------------------------------------------*/
footer {
    padding:20px 0;
    background:#212122 1px;
    .copyright {
        float:left;
        color:#fff;

        @include center(false, true);
    }
}
.error404 {
    .icf-404 {
        &:before {
            font-size:100px;
            margin-bottom:20px;
            content:"\e829";
            color:#f44336;
        }
    }
    main {
        margin-top:20px;
        text-align:center;
    }
    h1 {
        font-size:18px;
        margin-bottom:20px;
        span {
            font-size:30px;
            display:block;
            margin-bottom:10px;
        }
    }
    #searchform {
        width:100%;
        max-width:280px;
        margin:0 auto;
        text-align:center;
        label {
            display:none;
        }
        input[type="text"] {
            width:100%;
            height:30px;
            margin:20px 0 ;
            border:1px solid $grey;
            border-radius:3px;
        }
        input[type="submit"] {
            position:relative;
            padding:10px 20px;
            color:#fff;
            border:none;
            border-radius:3px;
            background:$btn;
            &:hover {
                background:darken( $btn, 10% );
            }
            &:before {
            }
        }
    }
}