/*--------------------------------------------------------------
OPTIONS
--------------------------------------------------------------*/
@import "sass/01_variables", "sass/02_mixins";
@include declare-font-face("icf", "icf", 400);
/*--------------------------------------------------------------
BASE
--------------------------------------------------------------*/
.social_link {
    display:inline-block;
    float:right;
    width:auto;
    cursor:pointer;
    text-align:center;
    a {
        position:relative;
        display:inline-block;
        width:40px;
        height:40px;
        margin:0 5px;
        color:#fff;
        border-radius:50%;
        @include transition(all, .15s, ease-in);
        &:before {
            font-size:20px;
            position:relative;
            @include center();
        }
        &.icf-facebook {
            background:#3b5993;
            &:before {
                content:"\e858";
            }
        }
        &.icf-twitter {
            background:#55acee;
            &:before {
                content:"\e866";
            }
        }
        &.icf-google-plus {
            background:#d94733;
            &:before {
                content:"\e85d";
            }
        }
        &:hover {
            @include scale( 1.2 );
        }
    }
}
/*--------------------------------------------------------------
HEADER
--------------------------------------------------------------*/
header {
    #logo {
        -webkit-transition:opacity .25s ease-in-out;
           -moz-transition:opacity .25s ease-in-out;
                transition:opacity .25s ease-in-out;
        opacity:1;
        &:hover {
            opacity:.5;
        }
    }
    nav {
        margin-top:10px;
        border:1px solid $grey;
        li {
            font-size:0;
            display:inline-block;
            a {
                font-size:16px;
                display:block;
                padding:5px 15px;
                border-right:1px solid $grey;
            }
        }
    }
}
/*--------------------------------------------------------------
FRONT PAGE
--------------------------------------------------------------*/
/*--------------------------------------------------------------
FOOTER
--------------------------------------------------------------*/
footer {
    padding:20px 0;
    background:#212122 1px;
    .copyright {
        float:left;
        color:#fff;
        @include center(false, true);
    }
}