/* ==========================================================================
   HELPERS
   ========================================================================== */
/* ==========================================================================
   HEADER
   ========================================================================== */
@font-face {
  font-family: 'icf';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/icf.eot');
  src: url('fonts/icf.eot?#iefix') format('embedded-opentype'), url('fonts/icf.woff') format('woff'), url('fonts/icf.ttf') format('truetype'); }

@font-face {
  font-family: 'm1';
  font-weight: 100;
  font-style: normal;
  src: url('fonts/museosanscyrl_100-webfont.eot');
  src: url('fonts/museosanscyrl_100-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/museosanscyrl_100-webfont.woff') format('woff'), url('fonts/museosanscyrl_100-webfont.ttf') format('truetype'); }

@font-face {
  font-family: 'm3';
  font-weight: 300;
  font-style: normal;
  src: url('fonts/museosanscyrl_300-webfont.eot');
  src: url('fonts/museosanscyrl_300-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/museosanscyrl_300-webfont.woff') format('woff'), url('fonts/museosanscyrl_300-webfont.ttf') format('truetype'); }

@font-face {
  font-family: 'm5';
  font-weight: 500;
  font-style: normal;
  src: url('fonts/museosanscyrl_500-webfont.eot');
  src: url('fonts/museosanscyrl_500-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/museosanscyrl_500-webfont.woff') format('woff'), url('fonts/museosanscyrl_500-webfont.ttf') format('truetype'); }

@font-face {
  font-family: 'm5i';
  font-weight: 500;
  font-style: normal;
  src: url('fonts/museosanscyrl_500_italic-webfont.eot');
  src: url('fonts/museosanscyrl_500_italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/museosanscyrl_500_italic-webfont.woff') format('woff'), url('fonts/museosanscyrl_500_italic-webfont.ttf') format('truetype'); }

@font-face {
  font-family: 'm7';
  font-weight: 700;
  font-style: normal;
  src: url('fonts/museosanscyrl_700-webfont.eot');
  src: url('fonts/museosanscyrl_700-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/museosanscyrl_700-webfont.woff') format('woff'), url('fonts/museosanscyrl_700-webfont.ttf') format('truetype'); }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font: 400 14px/20px 'm5', Arial, Helvetica, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh; }

#wrap {
  flex: 1 0 auto; }

details, main, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

mark {
  background: none; }

::-moz-selection {
  color: #fff;
  background: #009688; }

::selection {
  color: #fff;
  background: #009688;
  /* ==========================================================================
   FORMS & TABLE & NAVIGATION
   ========================================================================== */ }

input, textarea, select {
  padding: 0 10px;
  outline: 0 none;
  -webkit-appearance: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

button, html input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer; }

input[type='text'], input[type='email'] {
  padding: 0 5px 0 10px; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0; }

nav ul {
  list-style: none; }

ol {
  list-style: decimal; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  /* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */ }

h1, h2, h3, h4, h5, h6 {
  font: 400 16px/1 'm5', Arial, Helvetica, sans-serif;
  color: ; }

a {
  text-decoration: none;
  color: #009688;
  outline: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  a:hover {
    outline: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0; }

hr {
  display: block;
  clear: both;
  height: 1px;
  margin: 20px 0;
  border: 0 none;
  background: #707070; }

strong, b {
  font-family: 'm7', Arial, Helvetica, sans-serif;
  font-weight: normal; }

.row {
  position: relative;
  width: 960px;
  max-width: 100%;
  margin: 0 auto; }

#content {
  padding: 20px 20px 40px 20px; }

#wrap {
  min-height: 100%; }

.c {
  font-size: 0;
  line-height: 0;
  display: block;
  clear: both;
  overflow: hidden; }

.cfx:before, .cfx:after {
  display: table;
  content: ' '; }
  .cfx:after {
    clear: both; }

.no_select {
  -webkit-user-select: none;
  -moz-user-select: none; }

.btn {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font: 400 15px/1 ;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
  background: #009688; }
  .btn:hover {
    background: #007d71;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15); }

.underline {
  position: relative;
  display: inline-block;
  /* ==========================================================================
   WORDPRESS DEFAULT CLASSES
   ========================================================================== */ }
  .underline:after {
    display: block;
    width: 0;
    height: 1px;
    margin: auto;
    content: '';
    transition: width 0.5s ease, background-color 0.5s ease;
    background: transparent; }
  .underline:hover:after {
    width: 100%;
    background: #009688; }

.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

.wp-caption {
  margin: 10px;
  padding-top: 4px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f3f3f3; }

.wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
  /* ==========================================================================
   WYSIWYG
   ========================================================================== */ }

.wysiwyg {
  /* ==========================================================================
   SOCIAL LINK
   ========================================================================== */ }
  .wysiwyg p {
    padding-bottom: 20px; }
  .wysiwyg a {
    position: relative;
    display: inline-block; }
    .wysiwyg a:after {
      display: block;
      width: 0;
      height: 1px;
      margin: auto;
      content: '';
      transition: width 0.4s ease, background-color 0.4s ease;
      background: transparent; }
    .wysiwyg a:hover:after {
      width: 100%;
      background: #009688; }
  .wysiwyg blockquote {
    font-size: 1.4em;
    font-style: italic;
    line-height: 1.6;
    position: relative;
    width: 60%;
    margin: 50px auto;
    padding: 1.2em 30px 1.2em 75px;
    color: #555;
    border-left: 8px solid #78c0a8;
    background: #ededed; }
  .wysiwyg blockquote::before {
    font-family: Arial;
    font-size: 4em;
    position: absolute;
    top: -10px;
    left: 10px;
    content: '\201C';
    color: #78c0a8; }
  .wysiwyg blockquote::after {
    content: ''; }
  .wysiwyg blockquote span {
    font-weight: bold;
    font-style: normal;
    display: block;
    margin-top: 1em;
    color: #333; }

.social_link {
  display: inline-block;
  float: right;
  width: auto;
  cursor: pointer;
  text-align: center;
  /*--------------------------------------------------------------
CUSTOM ICON FONT http://vskochko.github.io/icf/
--------------------------------------------------------------*/ }
  .social_link a {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in; }
    .social_link a:before {
      font-size: 20px;
      position: relative;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      /* @include rotate( 180 ); */ }
    .social_link a.icf-facebook {
      background: #3b5993; }
      .social_link a.icf-facebook:before {
        content: '\e858'; }
    .social_link a.icf-twitter {
      background: #55acee; }
      .social_link a.icf-twitter:before {
        content: '\e866'; }
    .social_link a.icf-google-plus {
      background: #d94733; }
      .social_link a.icf-google-plus:before {
        content: '\e85d'; }
    .social_link a:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      /* @include center(true, false); */ }

[class^='icf-']:before, [class*=' icf-']:before {
  font-family: 'icf';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  display: inline-block;
  width: 1em;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  /* ==========================================================================
   CONTACT FORM 7
   ========================================================================== */ }

.wpcf7 {
  /* ==========================================================================
   GRID
   ========================================================================== */ }
  .wpcf7 .wpcf7-submit {
    font-size: 16px;
    line-height: 30px;
    width: 130px;
    height: 30px;
    color: #fff;
    border: none;
    background: #009688; }
    .wpcf7 .wpcf7-submit:hover {
      background: #00635a; }
  .wpcf7 .screen-reader-response {
    display: none !important; }
  .wpcf7 .wpcf7-not-valid-tip {
    font: 500 14px/1 ;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: #ff5f5f;
    background: #eee; }
  .wpcf7 .wpcf7-response-output {
    display: none;
    float: left;
    width: 96%;
    margin: 20px 0;
    padding: 2%;
    text-align: center;
    background: #fff; }
    .wpcf7 .wpcf7-response-output.wpcf7-validation-errors {
      color: white;
      background: #ff5f5f; }
    .wpcf7 .wpcf7-response-output.wpcf7-mail-sent-ng {
      color: white;
      background: #1091ae; }
    .wpcf7 .wpcf7-response-output.wpcf7-mail-sent-ok {
      color: white;
      background: #16a085; }
  .wpcf7 .wpcf7-form-control-wrap {
    position: relative;
    display: block !important; }
  .wpcf7 ::-webkit-input-placeholder {
    color: #444; }
  .wpcf7 ::-moz-placeholder {
    color: #444; }
  .wpcf7 :-ms-input-placeholder {
    color: #444; }

.grid:after {
  display: block;
  clear: both;
  content: ''; }

.grid + .grid {
  margin-top: 3%; }

[class^="col-"] {
  float: left;
  margin-right: 3%; }
  [class^="col-"]:last-child {
    margin-right: 0%; }

.col-1 {
  width: 5.58333%; }

.col-2 {
  width: 14.16667%; }

.col-3 {
  width: 22.75%; }

.col-4 {
  width: 31.33333%; }

.col-5 {
  width: 39.91667%; }

.col-6 {
  width: 48.5%; }

.col-7 {
  width: 57.08333%; }

.col-8 {
  width: 65.66667%; }

.col-9 {
  width: 74.25%; }

.col-10 {
  width: 82.83333%; }

.col-11 {
  width: 91.41667%; }

.col-12 {
  width: 100%; }

header #logo {
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  opacity: 1; }
  header #logo:hover {
    opacity: 0.5; }

.main_nav_container {
  margin-top: 10px;
  border: 1px solid #ddd;
  /* ==========================================================================
   FOOTER
   ========================================================================== */ }
  .main_nav_container .main-nav {
    font-size: 0; }
  .main_nav_container .menu-item-depth-0 {
    position: relative;
    display: inline-block; }
  .main_nav_container .menu-item-depth-0 > a {
    font-family: 'm1', Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: block;
    padding: 5px 15px;
    border-right: 1px solid #ddd; }
  .main_nav_container .menu-item-depth-0.current-menu-item {
    background: #ccc; }
  .main_nav_container .menu-item-depth-0.menu-item-has-children > a i {
    padding-right: 5px; }
    .main_nav_container .menu-item-depth-0.menu-item-has-children > a i:before {
      font-family: 'icf';
      font-size: 16px;
      font-style: normal;
      position: absolute;
      top: 5px;
      right: 5px;
      content: '\e844'; }
  .main_nav_container .menu-item-has-children > .sub-menu {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    min-width: 120px;
    border: 1px solid #ddd;
    background: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .main_nav_container .menu-item-has-children > .sub-menu > li > a {
      font-size: 16px; }
  .main_nav_container .menu-item-has-children:hover > .sub-menu {
    visibility: visible; }

footer {
  padding: 20px 0;
  background: #212122 1px;
  /* ==========================================================================
   404 page
   ========================================================================== */ }
  footer .copyright {
    font-family: ;
    float: left;
    color: #fff;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    /* @include rotate( 180 ); */ }

.error404 .icf-404:before {
  font-size: 100px;
  margin-bottom: 20px;
  content: '\e829';
  color: #f44336; }
  .error404 main {
    margin-top: 20px;
    text-align: center; }
  .error404 h1 {
    font-size: 18px;
    margin-bottom: 20px; }
  .error404 h1 span {
    font-size: 30px;
    display: block;
    margin-bottom: 10px; }
  .error404 #searchform {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    text-align: center; }
  .error404 #searchform label {
    display: none; }
  .error404 #searchform input[type='text'] {
    width: 100%;
    height: 30px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 3px; }
  .error404 #searchform input[type='submit'] {
    position: relative;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background: #009688; }
    .error404 #searchform input[type='submit']:hover {
      background: #007d71; }

.comment_wrap {
  border-top: 3px solid #444;
  padding: 5px; }

.toogle_nav {
  display: none; }

@media screen and (max-width: 960px) {
  .row {
    width: 100%;
    max-width: 96%; }

  .toogle_nav {
    display: block; } }
