@import 'import/02_mixins';

// Base  settings
$row: 960px; //web page width
$fz: 14px;
$lh: 21px;

// Defaul fonts varieble
$f5: 'm5', Arial, Helvetica, sans-serif; //default regular font
$f5i: 'm5i', Arial, Helvetica, sans-serif; //default italic font
$font_l: 'm1', Arial, Helvetica, sans-serif; //default thin font
$bold: 'm7', Arial, Helvetica, sans-serif; //default bold font

//custom icon fonts
@include declare-font-face('icf', 'icf', 400);
//museo font family
@include declare-font-face('m1', 'museosanscyrl_100-webfont', 100);
@include declare-font-face('m3', 'museosanscyrl_300-webfont', 300);
@include declare-font-face('m5', 'museosanscyrl_500-webfont', 500);
@include declare-font-face('m5i', 'museosanscyrl_500_italic-webfont', 500);
@include declare-font-face('m7', 'museosanscyrl_700-webfont', 700);

//COLORS
$basic: #009688;
$link: $basic;
$btn: #009688;
$grey: #ddd;
$text: #444;
// LOAD ORDER
@import 'import/03_reset'; // reset default style
@import 'import/04_global'; // global elements (header, footer, contact fotm buttons, etc..)
@import 'import/05_page'; // style for static page
@import 'import/09_comments'; // wordpress comments style
// @import 'import/10_woocommerce'; //woocommerce
@import 'import/98_icf'; // responsive
@import 'import/99_responsive'; // responsive