@import 'components/02_mixins';

/* variebles
   ========================================================================== */
//web page width
$row: 1200px;
// Defaul fonts
$regular:  "font_regular",  Helvetica, Arial, sans-serif;
//default italic font
$italic:  "font_italic", Helvetica, Arial, sans-serif;
//default bold font
$bold:  "font_bold", Helvetica, Arial, sans-serif;



/* FONTS
   ========================================================================== */
//custom icon fonts
@include declare-font('icf', 'icf', 400);


/* COLOR
   ========================================================================== */
$a: #00796B;
$b: #FF5252;

//mobile menu color
$menu: $a;
$link: $a;
$btn: $b;

$border: #ccc;
$text: #333;



/* LOAD ORDER
   ========================================================================== */
@import 'components/03_reset';
// reset default style
@import 'components/04_global';
// global elements (header, footer, contact fotm buttons, etc..)
@import 'components/05_pages';
// style for static page
@import 'components/06_vendors';
// wordpress comments style
@import 'components/09_comments';
// Woocommerce
// @import 'components/10_woocommerce'; //woocommerce
@import 'components/98_icf';
// responsive
@import 'components/99_responsive';
