@import '_mixins';
//web page width
$media_row: 1140px;
$media_md: 960px;
$media_sm: 768px;
$media_xs: 480px;
//main color
$a: #0c2d80;
//second color
$b: #f1b820;
//link color
$link: $a;
// buttons color
$btn: #0c2d80;
$border: #ccc;
$text: #333;
$menu: #0c2d80;
//social media color
$facebook: #3b5993;
$twitter: #55acee;
$instagram: #181818;
$linkedin: #0177b5;
$google_plus: #d94733;
$pinterest: #bd1e23;
$youtube: #f80000;
// Defaul fonts
$regular: 'font_regular', Helvetica, Arial, sans-serif;
//default italic font
$italic: 'font_italic', Helvetica, Arial, sans-serif;
//default bold font
$bold: 'font_bold', Helvetica, Arial, sans-serif;
/* FONTS
   ========================================================================== */
//custom icon fonts
@include declare-font('i', 'i', 400);

/* MAIN  FILES
   ========================================================================== */
@import 'components/01_reset';
//flexbox
@import 'components/02_flexo';
//icon fonts
@import 'components/03_font_icons';
//woocommerce basic style
//@import 'components/11_woocommerce';
// global elements (buttons, etc..)
@import 'components/20_global';
// style for custom page
@import 'components/21_pages';
// responsive
@import 'components/99_responsive';