/*
sass --watch sass:css --style compressed
sass --watch sass:css --style compact
*/
@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal) {
    @font-face {
        font-family: '#{$font-family}';
        src: url('fonts/#{$font-filename}.eot');
        src: url('fonts/#{$font-filename}.eot?#iefix') format('embedded-opentype'),
            url('fonts/#{$font-filename}.woff') format('woff'),
            url('fonts/#{$font-filename}.ttf') format('truetype'),
            url('fonts/#{$font-filename}.svg##{$font-family}') format('svg');
        font-weight: $font-weight;
        font-style: $font-style
    }
}
@mixin svg-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal) {
    @font-face {
        font-family: '#{$font-family}';
        src: url('fonts/#{$font-filename}.svg##{$font-family}') format('svg');
        font-weight: $font-weight;
        font-style: $font-style
    }
}
/* Using @include declare-font-face('FontName', 'font-filename', 400); */

/*@media screen and (-webkit-min-device-pixel-ratio:0) {
//Using @include svg-font-face('FontName', 'font-filename', 400);
}*/

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -khtml-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin box-sizing($s) {
    -webkit-box-sizing: $s;
    -moz-box-sizing: $s;
    -ms-box-sizing: $s;
    -o-box-sizing: $s;
    box-sizing: $s;
}
@mixin background-size($size) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -ms-background-size: $size;
    -o-background-size: $size;
    background-size: $size;
}
@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow:$shadow;
}
/* @include box-shadow(1px, 1px, 1px, 0, #fff, true); */
@mixin transition($sec) {
    -webkit-transition: all $sec ease 0s;
    -moz-transition: all $sec ease 0s;
    -ms-transition: all $sec ease 0s;
    -o-transition: all $sec ease 0s;
    transition: all $sec ease 0s;
}
@mixin transform($action, $backface: false) {
    @if $backface {
        -webkit-transform: $action;
        -moz-transform: $action;
        -ms-transform: $action;
        -o-transform: $action;
        transform: $action;
        -webkit-backface-visibility:hidden;
    } @else {
        -webkit-transform: $action;
        -moz-transform: $action;
        -ms-transform: $action;
        -o-transform: $action;
        transform: $action;
    }
}
@mixin user-select($select) {
    -webkit-touch-callout: $select;
    -webkit-user-select: $select;
    -khtml-user-select: $select;
    -moz-user-select: $select;
    -ms-user-select: $select;
    user-select: $select;
}
@mixin scale($scale) {
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -ms-transform: scale($scale);
    -o-transform: scale($scale);
    transform: scale($scale);
}
@mixin gradient($from, $to) {
    background-color: $from;
    background-image: -moz-linear-gradient($from, $to);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
    background-image: -webkit-linear-gradient($from, $to);
    background-image: -o-linear-gradient($from, $to);
}

@mixin imagenize(){
    image-rendering: -moz-crisp-edges;
    image-rendering:   -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

/* custom reset */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {display: block}
audio, canvas, video {display: inline-block;*display: inline;*zoom: 1}
mark {background: none}
html, body {height: 100%;margin: 0}
html {
    > body {
        height: auto;
        min-height: 100%;
    }
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
}
a {
    color: #00aeef;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: 0 none;
    &:hover {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        outline: 0 none;
    }
}
input, textarea, select {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: 0 none;
    @include box-sizing(border-box);
}
* {margin: 0;padding: 0;border-collapse: collapse}
img {max-width: 100%;height: auto}
a > img {border: 0}
p {padding-bottom: 20px}
ul, ol {list-style: none}
main {min-height: 100%}

/* clearfix */
.clear {clear: both}
.cfx:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0}
html[xmlns] .cfx {display: block}
* html .cfx {height: 1%}
/* selection */
::-moz-selection, ::selection {color: #fff;background: #92d400}
/* Vertical align inside DIV
<span class="valign">Some content</span>
<span class="vfix"></span>
*/
.valign {display: inline-block;vertical-align: middle; max-width: 98%}
.vfix {display: inline-block;height: 100%;vertical-align: middle;width: 0}

/*Parent of .valign must have fixed height*/
.valign2 {position: relative;top: 50%;@include transform(translateY(-50%))}

/* Wordpress classes */
.alignleft {float: left}
.alignright {float: right}
.aligncenter {margin-left: auto;margin-right: auto}
img.aligncenter {margin-left: auto;margin-right: auto;display: block}
hr {
    background: #e1e1e1;
    height: 1px;
    border: 0 none;
    display: block;
    clear: both;
    margin: 20px 0;
}
strong {font-weight: 700}
/*fullframe video*/
.fullframe {height: 0;margin: 0;overflow: hidden;padding-bottom: 56.25%;padding-top: 30px;position: relative;z-index: 0;
    > {
        iframe, object, embed {height: 100%;left: 0;position: absolute;top: 0;width: 100%;z-index: -1;}
    }
}
input[type="submit"] {cursor: pointer}
textarea, button, a, input {@include transition(0.5s)}

body {
    position: relative;
    font: 400 14px / 20px "Arial", sans-serif;
    color: #707070;
}
.row {
    margin: 0 auto;
    max-width: 96%;
    position: relative;
    width: 960px;
}

footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 960px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 640px) {

}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 320px) {

}
