@mixin declare-font-face($font-family, $font-filename, $font-weight: normal, $font-style: normal) {
    @font-face {
        font-family: #{$font-family};
        src: url("fonts/#{$font-filename}.eot");
        src: url("fonts/#{$font-filename}.eot?#iefix") format("embedded-opentype"), url("fonts/#{$font-filename}.woff") format("woff"), url("fonts/#{$font-filename}.ttf") format("truetype"), url("fonts/#{$font-filename}.svg##{$font-family}") format("svg");
        font-weight: $font-weight;
        font-style: $font-style;
    }
}
//Using @include declare-font-face('FontName', 'font-filename', 400);

@mixin box-sizing($s) {
    -webkit-box-sizing: $s;
    -moz-box-sizing: $s;
    -ms-box-sizing: $s;
    box-sizing: $s;
}
@mixin background-size($size) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -ms-background-size: $size;
    background-size: $size;
}
@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
@mixin position($position: relative, $top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: $position;
    top: $top;
    right: $right;
    left: $left;
    bottom: $bottom;
}
@mixin transform($action, $backface: false) {
    @if $backface {
        -webkit-transform: $action;
        -moz-transform: $action;
        -ms-transform: $action;
        transform: $action;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    @else {
        -webkit-transform: $action;
        -moz-transform: $action;
        -ms-transform: $action;
        transform: $action;
    }
}
@mixin scale($scale) {
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -ms-transform: scale($scale);
    transform: scale($scale);
}
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}
//custom reset
article, aside, footer, header, nav, section {
    display: block;
}
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
mark {
    background: none;
}
html, body {
    height: 100%;
    margin: 0;
}
html {
    > body {
        height: auto;
        min-height: 100%;
    }
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
}
a {
    color: #00c2cb;
    text-decoration: none;
    outline: 0 none;
    &:hover {
        outline: 0 none;
    }
}
input, textarea, select {
    -webkit-appearance: none;
    outline: 0 none;
    @include box-sizing(border-box);
}
input[type="submit"] {
    cursor: pointer;
}
input, textarea, button, a {
    @include transition(all, 0.2s, ease-in-out);
}
* {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
    max-width: 100%;
    height: auto;
}
a > img {
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    font: 400 14px / 1 "Arial", sans-serif;
    color: #707070;
    margin: 0;
    padding: 0;
}
p {
    padding-bottom: 20px;
}
nav ul {
    list-style: none;
}
#wrap {
    min-height: 100%;
}
.c {
    clear: both;
    font-size: 0;
    overflow: hidden;
    display: block;
    line-height: 0;
}
.cfx:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .cfx {
    display: block;
}
* html .cfx {
    height: 1%;
}
//selection
::-moz-selection {
    color: #fff;
    background: #00c2cb;
}
::selection {
    color: #fff;
    background: #00c2cb;
}
// Vertical align inside DIV
// <span class="valign">Some content</span>
// <span class="vfix"></span>
.valign {
    display: inline-block;
    vertical-align: middle;
    max-width: 98%;
}
.vfix {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}
// Parent of .valign must have fixed height
.valign2 {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
}
// Wordpress classes
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.aligncenter {
    margin-left: auto;
    margin-right: auto;
}
img.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
hr {
    background: #e1e1e1;
    height: 1px;
    border: 0 none;
    display: block;
    clear: both;
    margin: 20px 0;
}
strong {
    font-weight: 700;
}
input[type="submit"] {
    cursor: pointer;
}
textarea, button, a, input {
    @include transition(all, 0.2s, ease-in-out);
}
body {
    position: relative;
    font: 400 14px / 20px "Arial", sans-serif;
    color: #707070;
}
.row {
    margin: 0 auto;
    max-width: 96%;
    position: relative;
    width: 960px;
}
footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
.wpcf7 {
    .screen-reader-response {
        display: none !important;
    }
    .wpcf7-not-valid-tip {
        background: #eee;
        color: #ff5f5f;
        font: 500 12px/45px 'Museo Sans';
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
    }
    .wpcf7-response-output {
        background: #fff;
        padding: 2%;
        float: left;
        width: 96%;
        display: none;
        margin: 20px 0;
        text-align: center;
        &.wpcf7-validation-errors {
            background: #FF5F5F;
            color: white;
        }
        &.wpcf7-mail-sent-ng {
            background: #1091ae;
            color: white;
        }
        &.wpcf7-mail-sent-ok {
            background: #16A085;
            color: white;
        }
    }
    .wpcf7-form-control-wrap {
        display: block !important;
        position: relative;
    }
}
