@import 'reset';


@media screen and (max-width: 1024px) {}
@media screen and (max-width: 960px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 640px) {}
@media screen and (max-width: 480px) {}
@media screen and (max-width: 320px) {}
