/*--------------------------------------------------------------
BASE
--------------------------------------------------------------*/
/*--------------------------------------------------------------
BASE
--------------------------------------------------------------*/
/*--------------------------------------------------------------
VARIABLES
--------------------------------------------------------------*/
/*--------------------------------------------------------------
MIXINS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
CONTACT FORM 7
--------------------------------------------------------------*/
/*--------------------------------------------------------------
HEADER
--------------------------------------------------------------*/
/*--------------------------------------------------------------
FRONT PAGE
--------------------------------------------------------------*/
/*--------------------------------------------------------------
FOOTER
--------------------------------------------------------------*/
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
}
html > body {
  height: auto;
  min-height: 100%;
}
html, body {
  height: 100%;
  margin: 0;
}
footer, header, nav {
  display: block;
}
article, aside, section {
  display: block;
}
mark {
  background: none;
}
::-moz-selection {
  color: #fff;
  background: #00c2cb;
}
::selection {
  color: #fff;
  background: #00c2cb;
  /*--------------------------------------------------------------
FORMS & TABLE & NAVIGATION
--------------------------------------------------------------*/
}
input, textarea, select {
  padding: 0 10px;
  outline: 0 none;
  -webkit-appearance: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
}
button[disabled], html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
}
nav ul {
  list-style: none;
}
ol {
  list-style: decimal;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  /*--------------------------------------------------------------
TYPOGRAPHY
--------------------------------------------------------------*/
}
h1, h2, h3, h4, h5, h6 {
  font: 400 16px/1 "Arial", sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
}
p {
  padding-bottom: 20px;
}
a {
  text-decoration: none;
  color: #00c2cb;
  outline: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  outline: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a > img {
  border: 0;
  /*--------------------------------------------------------------
CLASSES
--------------------------------------------------------------*/
}
#wrap {
  min-height: 100%;
}
.c {
  font-size: 0;
  line-height: 0;
  display: block;
  clear: both;
  overflow: hidden;
}
.cfx:after {
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ".";
}
html[xmlns] .cfx {
  display: block;
}
* html .cfx {
  height: 1%;
  /* Vertical align inside DIV
<span class="valign">Some content</span>
<span class="vfix"></span>
*/
}
.valign {
  display: inline-block;
  max-width: 98%;
  vertical-align: middle;
}
.vfix {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  /* Parent of .valign must have fixed height*/
}
.valign2 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  /*--------------------------------------------------------------
WORDPRESS CLASSES
--------------------------------------------------------------*/
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.aligncenter {
  margin-right: auto;
  margin-left: auto;
}
img.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
hr {
  display: block;
  clear: both;
  height: 1px;
  margin: 20px 0;
  border: 0 none;
  background: #707070;
}
strong {
  font-weight: 700;
}
body {
  font: 400 14px / 20px "Arial", sans-serif;
  position: relative;
}
.row {
  position: relative;
  max-width: 96%;
  margin: 0 auto;
  width: 1020px;
}
.wpcf7 {
  /*--------------------------------------------------------------
MATERIAL SHADOW http://vskochko.github.io/shadow
--------------------------------------------------------------*/
}
.wpcf7 .screen-reader-response {
  display: none !important;
}
.wpcf7 .wpcf7-not-valid-tip {
  font: 500 14px/1 "Arial";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  color: #ff5f5f;
  background: #eee;
}
.wpcf7 .wpcf7-response-output {
  display: none;
  float: left;
  width: 96%;
  margin: 20px 0;
  padding: 2%;
  text-align: center;
  background: #fff;
}
.wpcf7 .wpcf7-response-output.wpcf7-validation-errors {
  color: white;
  background: #ff5f5f;
}
.wpcf7 .wpcf7-response-output.wpcf7-mail-sent-ng {
  color: white;
  background: #1091ae;
}
.wpcf7 .wpcf7-response-output.wpcf7-mail-sent-ok {
  color: white;
  background: #16a085;
}
.wpcf7 .wpcf7-form-control-wrap {
  position: relative;
  display: block !important;
}
.z-depth-z1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26), 0 2px 10px 0 rgba(0, 0, 0, .16);
}
.z-depth-z1-top {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16);
}
.z-depth-z1-bottom {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}
.z-depth-z2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}
.z-depth-z2-top {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .19);
}
.z-depth-z2-bottom {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2);
}
.z-depth-z3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}
.z-depth-z3-top {
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .19);
}
.z-depth-z3-bottom {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24);
}
.z-depth-z4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, .22), 0 25px 55px 0 rgba(0, 0, 0, .21);
}
.z-depth-z4-top {
  box-shadow: 0 25px 55px 0 rgba(0, 0, 0, .21);
}
.z-depth-z4-bottom {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, .22);
}
.z-depth-z5-top {
  box-shadow: 0 40px 77px 0 rgba(0, 0, 0, .22);
}
.z-depth-z5-bottom {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, .2);
}
.z-depth-animation:hover .z-depth-z1, .z-depth-animation:hover .z-depth-z2, .z-depth-animation:hover .z-depth-z3, .z-depth-animation:hover .z-depth-z4, .z-depth-animation:hover .z-depth-z5 {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.z-depth-z5, .z-depth-animation div:hover, .z-depth-animation div:focus {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, .2), 0 40px 77px 0 rgba(0, 0, 0, .22);
  /*--------------------------------------------------------------
CUSTOM ICON FONT http://vskochko.github.io/custom_icons/
--------------------------------------------------------------*/
}
[class^="icf-"], [class*=" icf-"] {
  font-family: "custom_icons";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}
.icf-home:before {
  content: "\e900";
}
.icf-home2:before {
  content: "\e901";
}
.icf-home3:before {
  content: "\e902";
}
.icf-pencil:before {
  content: "\e905";
}
.icf-quill:before {
  content: "\e907";
}
.icf-images:before {
  content: "\e90e";
}
.icf-camera:before {
  content: "\e90f";
}
.icf-headphones:before {
  content: "\e910";
}
.icf-play:before {
  content: "\e912";
}
.icf-film:before {
  content: "\e913";
}
.icf-qrcode:before {
  content: "\e938";
}
.icf-cart:before {
  content: "\e93a";
}
.icf-phone:before {
  content: "\e942";
}
.icf-envelop:before {
  content: "\e945";
}
.icf-location:before {
  content: "\e947";
}
.icf-compass2:before {
  content: "\e94a";
}
.icf-map:before {
  content: "\e94b";
}
.icf-map2:before {
  content: "\e94c";
}
.icf-clock:before {
  content: "\e94e";
}
.icf-alarm:before {
  content: "\e950";
}
.icf-calendar:before {
  content: "\e953";
}
.icf-display:before {
  content: "\e956";
}
.icf-mobile:before {
  content: "\e958";
}
.icf-tv:before {
  content: "\e95b";
}
.icf-download:before {
  content: "\e960";
}
.icf-upload:before {
  content: "\e961";
}
.icf-undo:before {
  content: "\e965";
}
.icf-redo:before {
  content: "\e966";
}
.icf-undo2:before {
  content: "\e967";
}
.icf-redo2:before {
  content: "\e968";
}
.icf-forward:before {
  content: "\e969";
}
.icf-reply:before {
  content: "\e96a";
}
.icf-bubbles:before {
  content: "\e96c";
}
.icf-bubble2:before {
  content: "\e96e";
}
.icf-user:before {
  content: "\e971";
}
.icf-user-tie:before {
  content: "\e976";
}
.icf-quotes-left:before {
  content: "\e977";
}
.icf-quotes-right:before {
  content: "\e978";
}
.icf-search:before {
  content: "\e986";
}
.icf-wrench:before {
  content: "\e991";
}
.icf-cog:before {
  content: "\e994";
}
.icf-bin:before {
  content: "\e9ac";
}
.icf-clipboard:before {
  content: "\e9b8";
}
.icf-list2:before {
  content: "\e9bb";
}
.icf-attachment:before {
  content: "\e9cd";
}
.icf-eye:before {
  content: "\e9ce";
}
.icf-star-empty:before {
  content: "\e9d7";
}
.icf-star-half:before {
  content: "\e9d8";
}
.icf-star-full:before {
  content: "\e9d9";
}
.icf-heart:before {
  content: "\e9da";
}
.icf-man:before {
  content: "\e9dc";
}
.icf-woman:before {
  content: "\e9dd";
}
.icf-happy:before {
  content: "\e9df";
}
.icf-happy2:before {
  content: "\e9e0";
}
.icf-plus:before {
  content: "\ea0a";
}
.icf-minus:before {
  content: "\ea0b";
}
.icf-cross:before {
  content: "\ea0f";
}
.icf-checkmark:before {
  content: "\ea10";
}
.icf-checkmark2:before {
  content: "\ea11";
}
.icf-play2:before {
  content: "\ea15";
}
.icf-pause:before {
  content: "\ea16";
}
.icf-play3:before {
  content: "\ea1c";
}
.icf-pause2:before {
  content: "\ea1d";
}
.icf-stop2:before {
  content: "\ea1e";
}
.icf-backward2:before {
  content: "\ea1f";
}
.icf-forward3:before {
  content: "\ea20";
}
.icf-arrow-up-left2:before {
  content: "\ea39";
}
.icf-arrow-up2:before {
  content: "\ea3a";
}
.icf-arrow-up-right2:before {
  content: "\ea3b";
}
.icf-arrow-right2:before {
  content: "\ea3c";
}
.icf-arrow-down-right2:before {
  content: "\ea3d";
}
.icf-arrow-down2:before {
  content: "\ea3e";
}
.icf-arrow-down-left2:before {
  content: "\ea3f";
}
.icf-arrow-left2:before {
  content: "\ea40";
}
.icf-circle-up:before {
  content: "\ea41";
}
.icf-circle-right:before {
  content: "\ea42";
}
.icf-circle-down:before {
  content: "\ea43";
}
.icf-circle-left:before {
  content: "\ea44";
}
.icf-google:before {
  content: "\ea87";
}
.icf-google-plus:before {
  content: "\ea88";
}
.icf-google-plus2:before {
  content: "\ea89";
}
.icf-facebook:before {
  content: "\ea8c";
}
.icf-facebook2:before {
  content: "\ea8d";
}
.icf-facebook3:before {
  content: "\ea8e";
}
.icf-instagram:before {
  content: "\ea90";
}
.icf-twitter:before {
  content: "\ea91";
}
.icf-twitter2:before {
  content: "\ea92";
}
.icf-twitter3:before {
  content: "\ea93";
}
.icf-feed2:before {
  content: "\ea94";
}
.icf-youtube:before {
  content: "\ea97";
}
.icf-youtube2:before {
  content: "\ea98";
}
.icf-youtube3:before {
  content: "\ea99";
}
.icf-youtube4:before {
  content: "\ea9a";
}
.icf-vimeo:before {
  content: "\ea9c";
}
.icf-vimeo2:before {
  content: "\ea9d";
}
.icf-picassa:before {
  content: "\eaa4";
}
.icf-dribbble:before {
  content: "\eaa6";
}
.icf-deviantart:before {
  content: "\eaab";
}
.icf-github:before {
  content: "\eab1";
}
.icf-github3:before {
  content: "\eab3";
}
.icf-github5:before {
  content: "\eab5";
}
.icf-wordpress:before {
  content: "\eab6";
}
.icf-tumblr:before {
  content: "\eabb";
}
.icf-yahoo:before {
  content: "\eabd";
}
.icf-linkedin:before {
  content: "\eac8";
}
.icf-linkedin2:before {
  content: "\eac9";
}
.icf-lastfm2:before {
  content: "\eacb";
}
.icf-pinterest:before {
  content: "\ead0";
}
.icf-pinterest2:before {
  content: "\ead1";
}
.icf-foursquare:before {
  content: "\ead5";
}
.icf-paypal:before {
  content: "\ead6";
}
.icf-yelp:before {
  content: "\ead9";
}
.icf-file-pdf:before {
  content: "\eada";
}
.icf-done:before {
  content: "\e600";
}
.icf-home4:before {
  content: "\e601";
}
.icf-reorder:before {
  content: "\e602";
}
.icf-phone-android:before {
  content: "\e603";
}
.icf-navigate-before:before {
  content: "\e604";
}
.icf-navigate-next:before {
  content: "\e605";
}
.icf-beenhere:before {
  content: "\e606";
}
.icf-local-phone:before {
  content: "\e607";
}
.icf-local-post-office:before {
  content: "\e608";
}
.icf-local-see:before {
  content: "\e609";
}
.icf-apps:before {
  content: "\e60a";
}
.icf-arrow-back:before {
  content: "\e60b";
}
.icf-arrow-drop-down:before {
  content: "\e60c";
}
.icf-arrow-drop-up:before {
  content: "\e60d";
}
.icf-arrow-forward:before {
  content: "\e60e";
}
.icf-check:before {
  content: "\e60f";
}
.icf-chevron-left:before {
  content: "\e610";
}
.icf-chevron-right:before {
  content: "\e611";
}
.icf-close:before {
  content: "\e612";
}
.icf-expand-less:before {
  content: "\e613";
}
.icf-expand-more:before {
  content: "\e614";
}
.icf-menu2:before {
  content: "\e615";
}
.icf-more-horiz:before {
  content: "\e616";
}
.icf-more-vert:before {
  content: "\e617";
}
.icf-refresh:before {
  content: "\e618";
}
.icf-do-not-disturb:before {
  content: "\e619";
}
.icf-check-box:before {
  content: "\e61a";
}
.icf-search2:before {
  content: "\f002";
}
.icf-eye2:before {
  content: "\f06e";
}
.icf-eye-slash:before {
  content: "\f070";
}
.icf-thumbs-o-up:before {
  content: "\f087";
}
.icf-thumbs-o-down:before {
  content: "\f088";
}
.icf-facebook4:before {
  content: "\f09a";
}
.icf-thumbs-up:before {
  content: "\f164";
}
.icf-thumbs-down:before {
  content: "\f165";
}
.icf-female:before {
  content: "\f182";
}
.icf-male:before {
  content: "\f183";
}
.icf-vk:before {
  content: "\f189";
}
@font-face {
  font-family: custom_icons;
  font-weight: 400;
  font-style: normal;
  src: url("fonts/custom_icons.eot");
  src: url("fonts/custom_icons.eot?#iefix") format("embedded-opentype"), url("fonts/custom_icons.woff") format("woff"), url("fonts/custom_icons.ttf") format("truetype"), url("fonts/custom_icons.svg#custom_icons") format("svg");
}
footer {
  /*--------------------------------------------------------------
MEDIA QUERY
--------------------------------------------------------------*/
}
footer .social_link {
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
  text-align: center;
}
footer .social_link a {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  color: #fff;
  border-radius: 50%;
  background: #16a085;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
footer .social_link a:before {
  font-size: 20px;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* @include rotate( 180 ); */
}
footer .social_link a.icf-facebook4 {
  background: #3b5993;
}
footer .social_link a.icf-twitter {
  background: #55acee;
}
footer .social_link a.icf-google-plus {
  background: #d94733;
}
footer .social_link a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  /* @include center(true, false); */
}
@media screen and (max-width: 1020px) {
  /*
 @media screen and (max-width: 960px) {}
 @media screen and (max-width: 768px) {}
 @media screen and (max-width: 640px) {}
 @media screen and (max-width: 480px) {}
 @media screen and (max-width: 320px) {}
 */}
