@import "lib/reset";
@import "lib/lib";
/*--------------------------------------------------------------
BASE
--------------------------------------------------------------*/
@include declare-font-face("custom_icons", "custom_icons", 400);
.row {
    width:960px;
}
$blue:#1091ae;
$green:#16a085;
$text:#222;
$font:"Arial", sans-serif;

/*--------------------------------------------------------------
HEADER
--------------------------------------------------------------*/
/*--------------------------------------------------------------
FRONT PAGE
--------------------------------------------------------------*/
/*--------------------------------------------------------------
FOOTER
--------------------------------------------------------------*/
/*--------------------------------------------------------------
MEDIA QUERY
----------------------------------------------------------------
 @media screen and (max-width: 1023px) {}
 @media screen and (max-width: 960px) {}
 @media screen and (max-width: 768px) {}
 @media screen and (max-width: 640px) {}
 @media screen and (max-width: 480px) {}
 @media screen and (max-width: 320px) {}
*/