/* ==========================================================================
   HELPERS
   ========================================================================== */
.row{
    position: relative;
    width: $row;
    max-width: 100%;
    margin: 0 auto;
}
#content{
    padding: 20px 20px 40px 20px;
}
#wrap{
    min-height: 100%;
    overflow-x: hidden;
}
.c{
    font-size: 0;
    line-height: 0;
    display: block;
    clear: both;
    overflow: hidden;
}
.cfx{
    &:after{
        display: table;
        clear: both;
        content: ' ';
    }
    &:before{
        display: table;
        content: ' ';
    }
}
article{
    &:before, &:after{
        display: table;
        content: ' ';
    }
    &:after{
        clear: both;
    }
}
.no_select{
    -webkit-user-select: none;
       -moz-user-select: none;
}
.btn, input[type='submit']{
    font: 400 15px/1 $regular;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: none;
    outline: 0;
    background: $btn;
    @include border-radius(3px);
    &:hover{
        background: darken($btn, 5%);
        -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
           -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
                box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    }
}
.btn_next{
    &:after{
        font-family: 'icf';
        content: '\e838';
    }
}
.underline{
    position: relative;
    display: inline-block;
    &:after{
        display: block;
        width: 0;
        height: 1px;
        margin: auto;
        content: '';
        transition: width .5s ease, background-color .5s ease;
        background: transparent;
    }
    &:hover:after{
        width: 100%;
        background: $link;
    }
}
/* ==========================================================================
   WORDPRESS DEFAULT CLASSES
   ========================================================================== */
.aligncenter{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.alignleft{
    float: left;
}
.alignright{
    float: right;
}
.wp-caption{
    margin: 10px;
    padding-top: 4px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f3f3f3;
}
.wp-caption img{
    margin: 0;
    padding: 0;
    border: 0 none;
}
.wp-caption p.wp-caption-text{
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
/* ==========================================================================
   WYSIWYG
   ========================================================================== */
.wysiwyg{
    h1{
        font-size: 20px;
        margin-bottom: 10px;
        padding-bottom: 5px;
        text-transform: uppercase;
        line-height: 1;
    }

    p{
        padding-bottom: 20px;
    }
    ul{
        margin-left: 30px;
        padding-bottom: 20px;
    }
    a{
        position: relative;
        display: inline-block;
        &:after{
            display: block;
            width: 0;
            height: 1px;
            margin: auto;
            content: '';
            transition: width .4s ease, background-color .4s ease;
            background: transparent;
        }
        &:hover:after{
            width: 100%;
            background: $link;
        }
    }
    blockquote{
        font-size: 1.4em;
        font-style: italic;
        line-height: 1.6;
        position: relative;
        width: 60%;
        margin: 50px auto;
        padding: 1.2em 30px 1.2em 75px;
        color: #555;
        border-left: 8px solid #78c0a8;
        background: #ededed;
    }
    blockquote::before{
        font-family: Arial;
        font-size: 4em;
        position: absolute;
        top: -10px;
        left: 10px;
        content: '\201C';
        color: #78c0a8;
    }
    blockquote::after{
        content: '';
    }
    blockquote span{
        font-weight: bold;
        font-style: normal;
        display: block;
        margin-top: 1em;
        color: #333;
    }
}
/* ==========================================================================
   SOCIAL LINK
   ========================================================================== */
.social_link{
    display: inline-block;
    float: right;
    width: auto;
    cursor: pointer;
    text-align: center;
    a{
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 5px;
        color: #fff;
        border-radius: 50%;
        @include transition(all, .15s, ease-in);
        &:before{
            font-size: 20px;
            position: relative;
            color: #fff;
            @include center();
        }
        &.icf-facebook{
            background: #3b5993;
        }
        &.icf-twitter{
            background: #55acee;
            &:before{
                // content: '\e866';
            }
        }
        &.icf-gplus{
            background: #d94733;
            &:before{
                // content: '\e85d';
            }
        }
        &:hover{
            @include scale(1.2);
        }
    }
}
/* ==========================================================================
   404 page
   ========================================================================== */
.error404{
    main{
        margin: 0 0 40px;
        text-align: center;
    }
    h1{
        font-size: 18px;
        margin: 30px 0 20px;
        i{
            font-size: 50px;
            display: block;
            margin-bottom: 20px;
        }
    }
    .search404{
        width: 100%;
        max-width: 280px;
        margin: 0 auto;
        text-align: center;
        span{
            position: relative;
            display: block;
        }
        .icf-search{
            margin: 20px 0;
            &:before{
                font-size: 18px;
                position: absolute;
                top: 5px;
                right: 10px;
            }
        }
        input[type='search']{
            width: 100%;
            height: 30px;
            border: 1px solid $grey;
            border-radius: 3px;
        }
    }
}
.inside_web{
    position: relative;
    width: 280px;
    height: 260px;
    margin: 0 auto;
    .l_overlay{
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 150px;
        height: 150px;
        margin: auto;
        border-radius: 100%;
        background: transparent;
        box-shadow: 0 0 0 1000px rgba(255, 255, 255, .87), 0 0 19px 0 rgba(0, 0, 0, .16) inset;
    }
    .icf-cog{
        position: absolute;
        z-index: -2;
    }
}
.cog_top{
    top: 0;
    left: 50px;
    &:before{
        font-size: 160px;
        -webkit-animation: rotate 10s infinite linear;
                animation: rotate 10s infinite linear;
        color: #999;
    }
}
.cog_left{
    top: 114px;
    left: 35px;
    -webkit-transform: rotate(51deg);
        -ms-transform: rotate(51deg);
            transform: rotate(51deg);
    &:before{
        font-size: 120px;
        -webkit-animation: rotate_left 10s .1s infinite reverse linear;
                animation: rotate_left 10s .1s infinite reverse linear;
        color: #666;
    }
}
.cog_right{
    top: 175px;
    left: 118px;
    -webkit-transform: rotate(19deg);
        -ms-transform: rotate(19deg);
            transform: rotate(19deg);
    &:before{
        font-size: 80px;
        -webkit-animation: rotate_right 10.4s .4s infinite linear;
                animation: rotate_right 10.4s .4s infinite linear;
        color: #444;
    }
}
/* Animations */
@-webkit-keyframes rotate{
    from{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes rotate{
    from{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate_left{
    from{
        -webkit-transform: rotate(16deg);
                transform: rotate(16deg);
    }
    to{
        -webkit-transform: rotate(376deg);
                transform: rotate(376deg);
    }
}
@keyframes rotate_left{
    from{
        -webkit-transform: rotate(16deg);
                transform: rotate(16deg);
    }
    to{
        -webkit-transform: rotate(376deg);
                transform: rotate(376deg);
    }
}
@-webkit-keyframes rotate_right{
    from{
        -webkit-transform: rotate(4deg);
                transform: rotate(4deg);
    }
    to{
        -webkit-transform: rotate(364deg);
                transform: rotate(364deg);
    }
}
@keyframes rotate_right{
    from{
        -webkit-transform: rotate(4deg);
                transform: rotate(4deg);
    }
    to{
        -webkit-transform: rotate(364deg);
                transform: rotate(364deg);
    }
}