/* ==========================================================================
   HEADER
   ========================================================================== */
header{
    #logo{
        display: block;
        padding: 20px 0 10px;
        opacity: 1;
        &:hover{
            opacity: .8;
        }
    }
}
/* menu
   ========================================================================== */
@media screen and (min-width: $row){
    // MAIN NAVIGATION MENU
    .main_nav_container{
        font-size: 0;
        margin-top: 10px;
        border: 1px solid $grey;
        *{
            line-height: 1;
        }
        //level 0
        .menu-item-depth-0{
            position: relative;
            display: inline-block;
            >a{
                font-family: $font_l;
                font-size: 16px;
                display: block;
                padding: 5px 15px;
                border-right: 1px solid $grey;
            }
            &.current-menu-item{
                background: #ccc;
            }
            &.menu-item-has-children{
                >a{
                    position: relative;
                }
                i{
                    position: absolute;
                    top: 5px;
                    right: 8px;
                    padding-right: 5px;
                    &:before{
                        font-family: 'icf';
                        font-size: 16px;
                        font-style: normal;
                        position: absolute;
                        content: '\e837';
                    }
                }
            }
        }
        //submenu
        .menu-item-has-children{
            .menu-depth-1{
                position: absolute;
                z-index: 100;
                display: none;
                overflow: hidden;
                width: 180px;
                border: 1px solid $grey;
                background: #fff;
                -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
                   -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
                        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
                @include transition(all, .2s, ease-in-out);
                >li{
                    >a{
                        font-size: 16px;
                    }
                }
            }
            &:hover{
                >.menu-depth-1{
                    display: block;
                }
            }
        }
    }
}
/* ==========================================================================
   FOOTER
   ========================================================================== */
footer{
    padding: 20px 0;
    background: #212122;
    .icf-copyright{
        font-family: $font_b;
        display: block;
        float: left;
        text-transform: uppercase;
        color: #fff;
    }
}
/* ==========================================================================
   404 page
   ========================================================================== */
.error404{
    .icf-exclamation{
        &:before{
            font-size: 100px;
            color: #f44336;
        }
    }
    main{
        margin: 40px 0;
        text-align: center;
    }
    h1{
        font-size: 18px;
        margin: 30px 0 20px;
        span{
            font-size: 30px;
            display: block;
            margin-bottom: 10px;
        }
    }
    .search404{
        width: 100%;
        max-width: 280px;
        margin: 0 auto;
        text-align: center;
        span{
            position: relative;
            display: block;
        }
        .icf-search{
            margin: 20px 0;
            &:before{
                font-size: 18px;
                position: absolute;
                top: 5px;
                right: 10px;
            }
        }
        input[type='text']{
            width: 100%;
            height: 30px;
            border: 1px solid $grey;
            border-radius: 3px;
        }
    }
}