/* ==========================================================================
   HEADER
   ========================================================================== */
header{
    position: relative;
    height: 80px;
    background: #ccc;
    z-index: 100;
    #logo{
        float: left;
        padding: 20px  10px;
        opacity: 1;
        &:hover{
            opacity: .8;
        }
    }
}
/* menu
   ========================================================================== */
@media screen and (min-width: $row){
    // MAIN NAVIGATION MENU
    .main_nav_container{
        font-size: 0;
        float: right;
        margin-top: 10px;
        border: 1px solid #fff;
        *{
            line-height: 1;
        }
        //level 0
        .menu-item-depth-0{
            position: relative;
            display: inline-block;
            >a{
                font-family: $regular;
                font-size: 16px;
                display: block;
                padding: 5px 15px;
                border-right: 1px solid $border;
            }
            &.current-menu-item{
                background: #ccc;
            }
            &.menu-item-has-children{
                >a{
                    position: relative;
                }
                i{
                    position: absolute;
                    top: 5px;
                    right: 8px;
                    padding-right: 5px;
                    &:before{
                        font-family: 'i';
                        font-size: 16px;
                        font-style: normal;
                        position: absolute;
                        content: 'e';
                    }
                }
            }
        }
        //submenu
        .menu-item-has-children{
            .menu-depth-1{
                position: absolute;
                z-index: 100;
                display: none;
                overflow: hidden;
                width: 180px;
                border: 1px solid $border;
                background: #fff;
                -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
                   -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
                        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);

                @include transition(all, .2s, ease-in-out);
                >li{
                    >a{
                        font-size: 16px;
                    }
                }
            }
            &:hover{
                >.menu-depth-1{
                    display: block;
                }
            }
        }
    }
}
/* ==========================================================================
   FOOTER
   ========================================================================== */
footer{
    padding: 20px 0;
    background: #212122;
    .icf-copyright{
        font-family: $bold;
        display: block;
        float: left;
        text-transform: uppercase;
        color: #fff;
    }
}