.comment_wrap{
    padding: 5px;
    border-top: 3px solid #444;
}
.commentlist{
    .comment{
        margin-bottom: 20px;
        padding: 10px;
        border-bottom: 1px solid $grey;
    }
    .comment-author{
        display: inline-block;
        &:before{
            font-family: 'icf';
            content: '\e626';
            color: $basic;
        }
    }
    .comment-meta{
        display: inline-block;
        &:before{
            font-family: 'icf';
            content: '\e60f';
            color: $basic;
        }
    }
}