/* ==========================================================================
    swiper source
    https://raw.githubusercontent.com/nolimits4web/Swiper/master/dist/css/swiper.min.css
    Fancybox source
    https://raw.githubusercontent.com/fancyapps/fancybox/master/dist/jquery.fancybox.min.css
    Selectric source
    https://raw.githubusercontent.com/lcdsantos/jQuery-Selectric/master/public/selectric.css
    Date Picker
    https://raw.githubusercontent.com/amsul/pickadate.js/master/lib/compressed/themes/default.css
    https://raw.githubusercontent.com/amsul/pickadate.js/master/lib/compressed/themes/default.date.css
    Malihu custom scrollbar
    https://raw.githubusercontent.com/malihu/malihu-custom-scrollbar-plugin/master/jquery.mCustomScrollbar.min.css
    css3animateIt
    https://raw.githubusercontent.com/Tusko/WP-Anatomy/master/style/libs/css3animateIt.min.css
  ========================================================================== */
