.wysiwyg {
    line-height: 1.4;
    a {
        text-decoration: none;
        &:hover {
            border-bottom: 1px solid;
        }
    }
    abbr {
        cursor: help;
        border-bottom: 1px dotted;
    }
    cite {
        font-style: italic;
    }
    hr {
        display: block;
        height: 1px;
        margin-top: 1.4em;
        margin-bottom: 1.4em;
        border: none;
        background: #e6e6e6;
    }
    img {
        vertical-align: text-bottom;
    }
    ins {
        text-decoration: none;
        background-color: lime;
    }
    mark {
        background-color: #ff0;
    }
    small {
        font-size: .8em;
    }
    strong {
        font-weight: 700;
    }
    sub, sup {
        font-size: .8em;
    }
    sub {
        vertical-align: sub;
    }
    sup {
        vertical-align: super;
    }
    p, dl, ol, ul, blockquote, pre, table {
        margin-bottom: 1.4em;
    }
    p, dl, ol, ul, blockquote, pre, table {
        &:last-child {
            margin-bottom: 0;
        }
    }
    p:empty {
        display: none;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        line-height: 1.2;
    }
    h1, h2, h3, h4, h5, h6 {
        &:first-child {
            margin-top: 0;
        }
    }
    h1 {
        font-size: 2.4em;
        line-height: 1;
        margin-top: .58333em;
        margin-bottom: .58333em;
    }
    h2 {
        font-size: 1.6em;
        line-height: 1.1;
        margin-top: 1.75em;
        margin-bottom: .875em;
    }
    h3 {
        font-size: 1.3em;
        margin-top: 1.07692em;
        margin-bottom: 1.07692em;
    }
    h4 {
        font-size: 1.2em;
        margin-top: 1.16667em;
        margin-bottom: 1.16667em;
    }
    h5 {
        font-size: 1.1em;
        margin-top: 1.27273em;
        margin-bottom: 1.27273em;
    }
    h6 {
        font-size: 1em;
        margin-top: 1.4em;
        margin-bottom: 1.4em;
    }
    dd {
        margin-left: 1.4em;
    }
    ol, ul {
        margin-left: 1.4em;
        list-style-position: outside;
    }
    ol {
        list-style-type: decimal;
    }
    ol ol {
        list-style-type: lower-alpha;
    }
    ol ol ol {
        list-style-type: lower-roman;
    }
    ol ol ol ol {
        list-style-type: lower-greek;
    }
    ol ol ol ol ol {
        list-style-type: decimal;
    }
    ol ol ol ol ol ol {
        list-style-type: lower-alpha;
    }
    ul {
        list-style-type: disc;
    }
    ul ul {
        list-style-type: circle;
    }
    ul ul ul {
        list-style-type: square;
    }
    ul ul ul ul {
        list-style-type: circle;
    }
    ul ul ul ul ul {
        list-style-type: disc;
    }
    ul ul ul ul ul ul {
        list-style-type: circle;
    }
    blockquote {
        padding: .6em 1.2em;
        border-left: 4px solid #e6e6e6;
    }
    blockquote p {
        margin-bottom: 0;
    }
    code, kbd, samp, pre {
        font-size: .9em;
        color: #333;
        background-color: #f2f2f2;
        -moz-osx-font-smoothing: auto;
        -webkit-font-smoothing: auto;
    }
    code, kbd, samp {
        line-height: 1.77778;
        padding: .1em .4em .2em;
        vertical-align: baseline;
        border-radius: 3px;
    }
    pre {
        overflow: auto;
        padding: 1em 1.2em;
    }
    figure {
        margin-bottom: 2.8em;
        text-align: center;
    }
    figure:first-child {
        margin-top: 0;
    }
    figure:last-child {
        margin-bottom: 0;
    }
    figcaption {
        font-size: .8em;
        margin-top: .875em;
    }
    table {
        width: 100%;
        pre {
            white-space: pre-wrap;
        }
        th, td {
            font-size: 1em;
            line-height: 1.4;
            padding: .7em;
            border: 1px solid #e6e6e6;
        }
    }
    thead, tfoot {
        tr {
            background-color: #f5f5f5;
        }
        th, td {
            font-size: .9em;
            padding: .77778em;
        }
    }
    tbody tr {
        background-color: #fff;
    }
}
/* ==========================================================================
   WORDPRESS DEFAULT CLASSES
   ========================================================================== */
.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.wp-caption {
    margin: 10px;
    padding-top: 4px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f3f3f3;
}
.wp-caption img {
    margin: 0;
    padding: 0;
    border: 0 none;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
/* ==========================================================================
   404 page
   ========================================================================== */
.error404 {
    main {
        margin: 0 0 40px;
        text-align: center;
    }
    h1 {
        font-size: 18px;
        margin: 30px 0 20px;
        i {
            font-size: 50px;
            display: block;
            margin-bottom: 20px;
        }
    }
    .search404 {
        width: 100%;
        max-width: 280px;
        margin: 0 auto;
        text-align: center;
        span {
            position: relative;
            display: block;
        }
        .i-search {
            margin: 20px 0;
            &:before {
                font-size: 18px;
                position: absolute;
                top: 5px;
                right: 10px;
            }
        }
        input[type='search'] {
            width: 100%;
            height: 30px;
            border: 1px solid $border;
            border-radius: 3px;
        }
    }
}
.inside_web {
    position: relative;
    width: 280px;
    height: 260px;
    margin: 0 auto;
    .l_overlay {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 150px;
        height: 150px;
        margin: auto;
        border-radius: 100%;
        background: transparent;
        box-shadow: 0 0 0 1000px rgba(255, 255, 255, .87), 0 0 19px 0 rgba(0, 0, 0, .16) inset;
    }
    .i-cog {
        position: absolute;
        z-index: -2;
    }
}
.cog_top {
    top: 0;
    left: 50px;
    &:before {
        font-size: 150px;
        -webkit-animation: rotate 10s infinite linear;
                animation: rotate 10s infinite linear;
        color: #999;
    }
}
.cog_left {
    top: 114px;
    left: 35px;
    -webkit-transform: rotate(48deg);
        -ms-transform: rotate(48deg);
            transform: rotate(48deg);
    &:before {
        font-size: 110px;
        -webkit-animation: rotate_left 10s .1s infinite reverse linear;
                animation: rotate_left 10s .1s infinite reverse linear;
        color: #666;
    }
}
.cog_right {
    top: 175px;
    left: 118px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    &:before {
        font-size: 75px;
        -webkit-animation: rotate_right 10.4s .4s infinite linear;
                animation: rotate_right 10.4s .4s infinite linear;
        color: #444;
    }
}
/* Animations */
@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate_left {
    from {
        -webkit-transform: rotate(16deg);
                transform: rotate(16deg);
    }
    to {
        -webkit-transform: rotate(376deg);
                transform: rotate(376deg);
    }
}
@keyframes rotate_left {
    from {
        -webkit-transform: rotate(16deg);
                transform: rotate(16deg);
    }
    to {
        -webkit-transform: rotate(376deg);
                transform: rotate(376deg);
    }
}
@-webkit-keyframes rotate_right {
    from {
        -webkit-transform: rotate(4deg);
                transform: rotate(4deg);
    }
    to {
        -webkit-transform: rotate(364deg);
                transform: rotate(364deg);
    }
}
@keyframes rotate_right {
    from {
        -webkit-transform: rotate(4deg);
                transform: rotate(4deg);
    }
    to {
        -webkit-transform: rotate(364deg);
                transform: rotate(364deg);
    }
}
/*
.comment_wrap{
    padding: 5px;
}
.commentlist{
    .depth-1{
        margin-bottom: 20px;
        padding: 10px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
        &.thread-even{
            border-top: 3px solid $a;
        }
        &.thread-odd{
            border-top: 3px solid $b;
        }
    }
    .comment-author{
        display: inline-block;
        .avatar{
            display: none;
        }
    }
    .comment-meta{
        display: inline-block;
    }
    .reply{
        text-align: right;
    }
}
*/