/* ==========================================================================
   WORDPRESS DEFAULT CLASSES
   ========================================================================== */
.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.wp-caption {
    margin: 10px;
    padding-top: 4px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f3f3f3;
}
.wp-caption img {
    margin: 0;
    padding: 0;
    border: 0 none;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
/* ==========================================================================
   404 page
   ========================================================================== */
.error404 {
    main {
        margin: 0 0 40px;
        text-align: center;
    }
    h1 {
        font-size: 18px;
        margin: 30px 0 20px;
        i {
            font-size: 50px;
            display: block;
            margin-bottom: 20px;
        }
    }
    .search404 {
        width: 100%;
        max-width: 280px;
        margin: 0 auto;
        text-align: center;
        span {
            position: relative;
            display: block;
        }
        .i-search {
            margin: 20px 0;
            &:before {
                font-size: 18px;
                position: absolute;
                top: 5px;
                right: 10px;
            }
        }
        input[type='search'] {
            width: 100%;
            height: 30px;
            border: 1px solid $border;
            border-radius: 3px;
        }
    }
}
.inside_web {
    position: relative;
    width: 280px;
    height: 260px;
    margin: 0 auto;
    .l_overlay {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 150px;
        height: 150px;
        margin: auto;
        border-radius: 100%;
        background: transparent;
        box-shadow: 0 0 0 1000px rgba(255, 255, 255, .87), 0 0 19px 0 rgba(0, 0, 0, .16) inset;
    }
    .i-cog {
        position: absolute;
        z-index: -2;
    }
}
.cog_top {
    top: 0;
    left: 50px;
    &:before {
        font-size: 150px;
        -webkit-animation: rotate 10s infinite linear;
        animation: rotate 10s infinite linear;
        color: #999;
    }
}
.cog_left {
    top: 114px;
    left: 35px;
    -webkit-transform: rotate(48deg);
    -ms-transform: rotate(48deg);
    transform: rotate(48deg);
    &:before {
        font-size: 110px;
        -webkit-animation: rotate_left 10s .1s infinite reverse linear;
        animation: rotate_left 10s .1s infinite reverse linear;
        color: #666;
    }
}
.cog_right {
    top: 175px;
    left: 118px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    &:before {
        font-size: 75px;
        -webkit-animation: rotate_right 10.4s .4s infinite linear;
        animation: rotate_right 10.4s .4s infinite linear;
        color: #444;
    }
}
/* Animations */
@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate_left {
    from {
        -webkit-transform: rotate(16deg);
        transform: rotate(16deg);
    }
    to {
        -webkit-transform: rotate(376deg);
        transform: rotate(376deg);
    }
}
@keyframes rotate_left {
    from {
        -webkit-transform: rotate(16deg);
        transform: rotate(16deg);
    }
    to {
        -webkit-transform: rotate(376deg);
        transform: rotate(376deg);
    }
}
@-webkit-keyframes rotate_right {
    from {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }
    to {
        -webkit-transform: rotate(364deg);
        transform: rotate(364deg);
    }
}
@keyframes rotate_right {
    from {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }
    to {
        -webkit-transform: rotate(364deg);
        transform: rotate(364deg);
    }
}
/*
.comment_wrap{
    padding: 5px;
}
.commentlist{
    .depth-1{
        margin-bottom: 20px;
        padding: 10px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
        &.thread-even{
            border-top: 3px solid $a;
        }
        &.thread-odd{
            border-top: 3px solid $b;
        }
    }
    .comment-author{
        display: inline-block;
        .avatar{
            display: none;
        }
    }
    .comment-meta{
        display: inline-block;
    }
    .reply{
        text-align: right;
    }
}
*/