/* ==========================================================================
   HELPERS
   ========================================================================== */
body {
    position: relative;
    font-family: $regular;
}
.row {
    position: relative;
    width: $row;
    max-width: 100%;
    margin: 0 auto;
}
#content {
    padding: 20px 20px 40px 20px;
}
#wrap {
    min-height: 100%;
    position: relative;
    width: 100%;
}
.c {
    font-size: 0;
    line-height: 0;
    display: block;
    clear: both;
    overflow: hidden;
}
.cfx {
    &:after {
        display: table;
        clear: both;
        content: ' ';
    }
    &:before {
        display: table;
        content: ' ';
    }
}
.desctop_hide {
    display: none;
}
.bg_center {
    background-position: center center;
    -webkit-background-size: cover;
    background-size:cover;
}

@media screen and (max-width: $row) {
    .mobile_hide {
        display: none;
    }
    .desctop_hide {
        display: block;
    }
}
.flex {
    @include flexbox;
    @include flex-wrap(wrap);
    @include align-items(flex-start);
    @include justify-content(space-between);
    &.s_around {
        @include justify-content(space-around);
    }
    &.ai_center {
        @include align-items(center);
    }
    &.ai_stretch {
        @include align-items(stretch);
    }
   &.ai_start {
        @include align-items(flex-start);
    }
}
.btn, input[type='submit'] {
    font: 400 15px/1 $regular;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: none;
    outline: 0;
    background: $btn;
    @include transition(all, .2s, ease);

    &:hover {
        background: darken($btn, 5%);
        @include shadow(2);
    }
    &:active {
        background: darken($btn, 8%);
    }
}
.no_select {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.underline {
    position: relative;
    display: inline-block;
    &:after {
        display: block;
        width: 0;
        height: 1px;
        margin: auto;
        content: '';
        transition: width .5s ease, background-color .5s ease;
        background: transparent;
    }
    &:hover:after {
        width: 100%;
        background: $link;
    }
}
/* ==========================================================================
   WYSIWYG
   ========================================================================== */
.wysiwyg {
    h1 {
        font-size: 20px;
        line-height: 1;
        margin-bottom: 10px;
        padding-bottom: 5px;
        text-transform: uppercase;
    }
    p {
        padding-bottom: 20px;
    }
    ul {
        margin-left: 30px;
        padding-bottom: 20px;
    }
}
/* ==========================================================================
   SOCIAL LINK
   ========================================================================== */
.s_link {
    font-size: 0;
    display: inline-block;
    width: auto;
    cursor: pointer;
    text-align: center;
    a {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 2px;
        color: #fff;
        border-radius: 50%;
        @include transform (translate3d(0, 0, 0));
        @include transition(all, .5s, cubic-bezier(.165, .84, .44, 1));
        @include shadow(1);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        &:before {
            font-size: 20px;
            color: #fff;
            @include center();
        }
        &:hover {
            @include shadow(3);
        }
        &.i-facebook {
            &:hover {
                background: #3b5993;
            }
        }
        &.i-instagram {
            &:hover {
                background: #125688;
            }
        }
        &.i-twitter {
            &:hover {
                background: #55acee;
            }
        }
        &.i-linkedin {
            &:hover {
                background: #0177b5;
            }
        }
        &.i-g {
            &:hover {
                background: #d94733;
            }
        }
        &.i-pinterest {
            &:hover {
                background: #bd1e23;
            }
        }
        &.i-youtube-play {
            &:hover {
                background: #f80000;
            }
        }
    }
}
