/* ==========================================================================
   HEADER
   ========================================================================== */
header {
    position: relative;
    z-index: 10;
   will-change: transform, opacity;
    border-bottom: 1px solid #ebebeb;
    .row {
        height: 80px;
    }
    #logo {
        opacity: 1;
        color: #181818;
        &:hover {
            opacity: .8;
        }
    }
    .main_nav {
        font-size: 0;
        * {
            line-height: 1;
        }
        a {
            display: block;
        }
    }
    .level_a {
        position: relative;
        > li {
            > a {
                font-size: 14px;
                padding: 5px 20px;
                color: #181818;
            }
            &.current-menu-item, &:hover {
                > a {
                    color: $a;
                }
            }
        }
        li {
            position: relative;
            z-index: 0;
            display: inline-block;
        }
    }
    .sub-menu {
        position: absolute;
        z-index: 100;
        display: none;
        width: 100%;
        min-width: 140px;
        max-width: 200px;
        margin-top: 27px;
        padding: 10px 0;
        border-top: 3px solid lighten($menu, 10%);
        border-bottom: 3px solid lighten($menu, 10%);
        background: $menu;
        .sub-menu {
            display: none !important;
        }
        li {
            display: block;
            list-style-type: none;
        }
        a {
            font-size: 13px;
            line-height: 1.3;
            padding: 3px 15px;
            color: #fff;
            &:hover {
                background: lighten($menu, 20%);
            }
        }
    }
    .menu-item-has-children {
        &:before {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 52px;
            content: '';
        }
        &:hover {
            > .sub-menu {
                display: block;
            }
        }
    }
}
/* ==========================================================================
   FOOTER
   ========================================================================== */
footer {
    padding: 20px 0;
    background: #212122;
}

