/* ==========================================================================
   HEADER
   ========================================================================== */
header {
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #ebebeb;
    background: #fafafa;
    .row {
        height: 80px;
    }
    #logo {
        opacity: 1;
        &:hover {
            opacity: .8;
        }
    }
}
/* menu
   ========================================================================== */
@media screen and (min-width: $row) {
    // MAIN NAVIGATION MENU
    .main_nav_container {
        font-size: 0;
        width: 100%;
        li {
            display: inline-block;
        }
        a {
            font-size: 14px;
            color: #262626;
        }
        .sub-menu {
            display: none;
        }
    }
}
/* ==========================================================================
   FOOTER
   ========================================================================== */
footer {
    padding: 20px 0;
    background: #212122;
}