/* ==========================================================================
   HEADER
   ========================================================================== */
header{
    position: relative;
    z-index: 100;
    height: 80px;
    background: #ccc;
    #logo{
        float: left;
        padding: 20px  10px;
        opacity: 1;
        &:hover{
            opacity: .8;
        }
    }
}
/* menu
   ========================================================================== */
@media screen and (min-width: $row){
    // MAIN NAVIGATION MENU
    .main_nav_container{
        font-size: 0;
        float: right;
        margin-top: 10px;
        border: 1px solid #fff;
        *{
            line-height: 1;
        }
        //level 0
        .menu-item-depth-0{
            position: relative;
            display: inline-block;
            >a{
                font-family: $regular;
                font-size: 16px;
                display: block;
                padding: 5px 15px;
                border-right: 1px solid $border;
            }
            &.current-menu-item, &:hover{
                background: darken($a, 5%);
                >a{
                    color: #fff;
                }
            }
            &.menu-item-has-children{
                >a{
                    position: relative;
                    &:after{
                        font-family: 'i';
                        font-size: 13px;
                        font-style: normal;
                        // position: relative;
                        position: absolute;
                        top: 7px;
                        content: 'e';
                    }
                }
                i{
                    display: none;
                }
            }
        }
        //submenu
        .menu-item-has-children{
            .menu-depth-1{
                position: absolute;
                z-index: 100;
                display: block;
                // @include translateY( 80px);
                display: none;
                visibility: hidden;
                overflow: hidden;
                width: 240px;
                padding: 0 0 10px 0;
                opacity: 0;
                border: 1px solid $border;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                background: #fff;
                -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
                   -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
                        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
                @include transition(all, .15s, ease-in);
                >li{
                    line-height: 1;
                    >a{
                        font-size: 14px;
                        font-size: 16px;
                        line-height: 1;
                        display: block;
                        padding: 5px 20px;
                        border-bottom: 1px solid darken($menu, 10%) ;
                        &:hover{
                            color: #fff;
                            background: $menu;
                        }
                    }
                }
            }
            &:hover{
                >.menu-depth-1{
                    display: block;
                    // display: block;
                    visibility: visible;
                    overflow: visible;
                    height: auto;
                    opacity: 1;
                    // @include translateY(0);
                }
            }
        }
    }
}
/* ==========================================================================
   FOOTER
   ========================================================================== */
footer{
    padding: 20px 0;
    background: #212122;
    .icf-copyright{
        font-family: $bold;
        display: block;
        float: left;
        text-transform: uppercase;
        color: #fff;
    }
}