.toogle_nav{
    display: none;
}
@media screen and (max-width: $row){
    /* MENU
   ========================================================================== */
    .toogle_nav{
        position: absolute;
        top: 10px;
        right: 5px;
        display: block;
        .burger-icon{
            display: inline-block;

            @include burger(18px, 2px, 4px, #444);
        }
        &.is-active{
            .burger-icon{
                @include burger-to-cross;
            }
        }
    }
    .main_nav_container{
        position: absolute;
        z-index: 1000;
        z-index: 101;
        top: 40px;
        right: 0;
        width: 80%;
        max-width: 320px;
        padding: 5px 0;
        -webkit-transition: all 200ms cubic-bezier(.95, .05, .795, .035);
                transition: all 200ms cubic-bezier(.95, .05, .795, .035);
        border-bottom-left-radius: 5px;
        background: $menu;

        @include translate(110%, 0);
        @include shadow(2);
        &.o_menu{
            @include translate(0, 0);
        }
        li{
            position: relative;
            &:last-child{
                >a{
                    border-bottom: none;
                }
            }
            &.current-menu-item{
                >a{
                    padding-left: 10px;
                    &:before{
                        font-family: 'icf';
                        font-size: 11px;
                        padding-right: 3px;
                        content: '\e850';
                        color: #fff;
                    }
                }
            }
        }
        *{
            line-height: 1;
        }
        i{
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 30px;
            height: 29px;
            cursor: pointer;
            color: #fff;
            background: darken($menu, 6%);
            &:hover{
                background: darken($menu, 8%);
            }
            &:before{
                @include center();
            }
        }
        a{
            font-size: 14px;
            line-height: 30px;
            display: block;
            overflow: hidden;
            height: 30px;
            padding: 0  15px;
            text-transform: uppercase;
            color: #fff;
            border-bottom: 1px solid darken($menu, 6%) ;
            &:hover{
                background: darken($menu, 5%);

                @include shadow(1);
            }
        }
        .menu-depth-1{
            display: none;
            background: darken($menu, 8%);
            a{
                padding-left: 20px;
            }
            i{
                display: none;
            }
        }
        .menu-depth-2{
            display: none;
        }
    }
    /* GLOBAL
       ========================================================================== */

    .bx-controls-direction{
        display: none;
    }
    .row{
        width: 100%;
        max-width: 96%;
    }
    header{
        height: 40px;
        .row{
            max-width: 100%;
        }
    }
}
@media screen and (max-width: 960px){
}
@media screen and (max-width: 768px){
}
@media screen and (max-width: 640px){
}
@media screen and (max-width: 480px){
}
@media screen and (max-width: 320px){
}