.toogle_nav {
  display: none;
}

@media screen and (max-width: $row) {
  .row {
    width: 100%;
    max-width: 96%;
  }
  .toogle_nav {
    display: block;
  }
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}