@import "01_variables", "02_mixins";
.hidden {
    display:none;
}
.no_select {
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
}
.btn {
    line-height:40px;
    display:block;
    width:80px;
    text-align: center;
    color: #fff;
    height:40px;
    cursor:pointer;
    text-decoration:none;
    outline:0;
    background:$basic;
    &:hover {
        background:darken( $basic, 10% );
    }
    &:active {

    }
    &:focus {

    }

}