.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.align-justify {
  text-align: justify;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.hidden {
    display:none;
}
.no_select {
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
}