@import "01_variables", "02_mixins";

#customer_details {
    margin: 30px 0 0;
}
.col2-set {
    &:after {
        clear: both;
        content: '.';
        font: 400 0/0 $f;
        display: block;
    }
    .col-1 {
        float: left
    }
    .col-2 {
        float: right
    }
    > div {
        width: 49%;
    }
}
.form-row {
    label {
        display: block;
        font: 400 16px $f;
        padding: 0 0 10px
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        border: 1px solid #eee;
        @include border-radius(5px);
        color: #555;
        display: block;
        font: 400 14px/40px $f;
        height: 40px;
        padding: 0 20px;
        width: 100%;
        &:focus {
            border-color: #4f91cd;
            color: #4f91cd;
        }
    }
    textarea {
        height: 130px;
        line-height: 20px;
        overflow: hidden;
        padding: 10px;
        resize: none;
    }
    abbr {
        border: 0;
        color: #e74c3c;
        font-size: 16px;
    }
    input#billing_state + span {
        display: none;
    }
}
.woocommerce-error {
    margin: 0;
    li {
        background: #fff;
        border: 1px solid #ef4036;
        @include border-radius(5px);
        color: #ef4036 !important;
        display: block;
        font: 400 14px/38px $f !important;
        list-style: none !important;
        margin: 20px 0 0;
        text-align: center;
    }
}
.shop_table {
    width: 100%;
    tr {
        th {
            background: #4f91cd;
            border: 1px solid #3979b2;
            color: #fff;
            font: 700 24px $pf;
            padding: 10px;
            text-transform: uppercase;
            &.product-remove {
                border-right: 0;
                a.remove {
                    background: #ef4036;
                    color: #fff;
                    display: block;
                    font: 700 20px/21px $f;
                    margin: 0 auto;
                    text-align: center;
                    text-decoration: none;
                    width: 21px;
                }
            }
            &.product-thumbnail {
                border-left: 0
            }
        }
        td {
            background: #fff;
            border: 1px solid #3979b2;
            padding: 10px;
            p {padding: 0}
            &.product-thumbnail {
                padding: 0;
                width: 90px;
                a, img {display: block}
            }
            &.product-price {
                text-align: center;
            }
            &.product-quantity {
                text-align: center;
                width: 120px;
                .quantity {
                    display: inline-block;
                    position: relative;
                    width: 100px;
                    input[type="button"] {
                        background: #77bd1f;
                        border: 0;
                        color: #fff;
                        cursor: pointer;
                        font-weight: 700;
                        height: 20px;
                        line-height: 20px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 20px;
                        &.minus {
                            bottom: 0;
                            top: auto;
                        }
                    }
                    input[type="number"] {
                        border: 1px solid #eee;
                        @include border-radius(5px);
                        color: #555;
                        display: block;
                        font: 400 14px/40px $f;
                        height: 40px;
                        padding: 0 20px;
                        width: 100%;
                        -moz-appearance:textfield;
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                        }
                        &:focus {
                            border-color: #598e17;
                            color: #598e17
                        }
                    }
                }
            }
            &.actions {
                border: 0;
                text-align: right;
                padding: 10px 0;
            }
        }
    }
}
.cart-collaterals {
    table {
        table-layout: fixed;
        text-align: left;
        max-width: 100%;
        width: 540px;
        td {
            padding: 10px;
            font-size: 16px
        }
    }
    .cart_totals {
        &:after {
            clear: both;
            content: '.';
            font: 400 0/0 'Arial';
            display: block;
        }
    }
}
.woocommerce-message {
    border: 1px solid #eee;
    border-radius: 5px;
    display: block;
    margin: 0 0 20px;
    padding: 20px;
    vertical-align: middle;
    .button {
        margin-right: 20px;
    }
}
#payment {
    margin-top: 30px;
    .payment_methods {
        margin: 0 0 30px;
        li {
            list-style: none;
            input {
                display: none;
                & + label {
                    background: #eee;
                    color: #4f91cd;
                    cursor: pointer;
                    display: inline-block;
                    font: 500 15px/40px $f;
                    height: 40px;
                    letter-spacing: 1.666px;
                    margin-bottom: 20px;
                    max-width: 100%;
                    padding: 0 20px;
                    text-decoration: none;
                    width: 310px;
                    &:hover {
                        background: #3979b2;
                    }
                    img {
                        float: right;
                        position: relative;
                        right: -10px;
                        top: 8px
                    }
                }
                &:checked {
                    & + label {
                        background: #4f91cd;
                        color: #fff
                    }
                }
            }
        }
    }
}

