@import "_mixins";
@import "_variables";
.underline_lr {
    position:relative;
    display:inline-block;
    padding-bottom:3px;
    &:before {
        position:absolute;
        bottom:0;
        left:0;
        display:block;
        width:0;
        height:1px;
        content:"";
        transition:width 0s ease, background .5s ease;
    }
    &:after {
        position:absolute;
        right:0;
        bottom:0;
        display:block;
        width:0;
        height:1px;
        content:"";
        transition:width .5s ease;
        background:#000;
    }
    &:hover {
        &:before {
            width:100%;
            transition:width .5s ease;
            background:#000;
        }
        &:after {
            width:100%;
            transition:all 0s ease;
            background:transparent;
        }
    }
}
.underline_c {
    position:relative;
    display:inline-block;
    padding-bottom:3px;
    &:after {
        display:block;
        width:0;
        height:1px;
        margin:auto;
        content:"";
        transition:width .5s ease, background-color .5s ease;
        background:transparent;
    }
    &:hover:after {
        width:100%;
        background:#222;
    }
}
/*--------------------------------------------------------------
CONTACT FORM 7
--------------------------------------------------------------*/
.wpcf7 {
    .screen-reader-response {
        display:none !important;
    }
    .wpcf7-not-valid-tip {
        font:500 14px/1 "Arial";
        position:absolute;
        top:0;
        right:0;
        left:0;
        text-align:center;
        color:#ff5f5f;
        background:#eee;
    }
    .wpcf7-response-output {
        display:none;
        float:left;
        width:96%;
        margin:20px 0;
        padding:2%;
        text-align:center;
        background:#fff;
        &.wpcf7-validation-errors {
            color:white;
            background:#ff5f5f;
        }
        &.wpcf7-mail-sent-ng {
            color:white;
            background:#1091ae;
        }
        &.wpcf7-mail-sent-ok {
            color:white;
            background:#16a085;
        }
    }
    .wpcf7-form-control-wrap {
        position:relative;
        display:block !important;
    }
}
/*--------------------------------------------------------------
MATERIAL SHADOW http://vskochko.github.io/shadow
--------------------------------------------------------------*/
.z-depth-z1 {
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, .26), 0 2px 10px 0 rgba(0, 0, 0, .16);
}
.z-depth-z1-top {
    box-shadow:0 2px 10px 0 rgba(0, 0, 0, .16);
}
.z-depth-z1-bottom {
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, .26);
}
.z-depth-z2 {
    box-shadow:0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}
.z-depth-z2-top {
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, .19);
}
.z-depth-z2-bottom {
    box-shadow:0 8px 17px 0 rgba(0, 0, 0, .2);
}
.z-depth-z3 {
    box-shadow:0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}
.z-depth-z3-top {
    box-shadow:0 17px 50px 0 rgba(0, 0, 0, .19);
}
.z-depth-z3-bottom {
    box-shadow:0 12px 15px 0 rgba(0, 0, 0, .24);
}
.z-depth-z4 {
    box-shadow:0 16px 28px 0 rgba(0, 0, 0, .22), 0 25px 55px 0 rgba(0, 0, 0, .21);
}
.z-depth-z4-top {
    box-shadow:0 25px 55px 0 rgba(0, 0, 0, .21);
}
.z-depth-z4-bottom {
    box-shadow:0 16px 28px 0 rgba(0, 0, 0, .22);
}
.z-depth-z5-top {
    box-shadow:0 40px 77px 0 rgba(0, 0, 0, .22);
}
.z-depth-z5-bottom {
    box-shadow:0 27px 24px 0 rgba(0, 0, 0, .2);
}
.z-depth-animation:hover .z-depth-z1, .z-depth-animation:hover .z-depth-z2, .z-depth-animation:hover .z-depth-z3, .z-depth-animation:hover .z-depth-z4, .z-depth-animation:hover .z-depth-z5 {
    transition:box-shadow .28s cubic-bezier(.4, 0, .2, 1);
}
.z-depth-z5, .z-depth-animation div:hover, .z-depth-animation div:focus {
    box-shadow:0 27px 24px 0 rgba(0, 0, 0, .2), 0 40px 77px 0 rgba(0, 0, 0, .22);
}
/*--------------------------------------------------------------
CUSTOM ICON FONT http://vskochko.github.io/icf/
--------------------------------------------------------------*/

[class^="icf-"]:before, [class*=" icf-"]:before {
    font-family:"icf";
    font-weight:normal;
    font-style:normal;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant:normal;
    /* fix buttons height, for twitter bootstrap */
    line-height:1em;
    display:inline-block;
    width:1em;
    // margin-right:.2em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    // margin-left:.2em;
    text-align:center;
    text-decoration:inherit;
    text-transform:none;
    speak:none;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
     text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
