@font-face {
	font-family: 'icf';
	src:url('fonts/icf.eot?-s9n0u3');
	src:url('fonts/icf.eot?#iefix-s9n0u3') format('embedded-opentype'),
		url('fonts/icf.woff?-s9n0u3') format('woff'),
		url('fonts/icf.ttf?-s9n0u3') format('truetype'),
		url('fonts/icf.svg?-s9n0u3#icf') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icf-"], [class*=" icf-"] {
	font-family: 'icf';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icf-account-circle:before {
	content: "\e626";
}

.icf-assignment-turned-in:before {
	content: "\e600";
}

.icf-bookmark:before {
	content: "\e602";
}

.icf-bookmark-outline:before {
	content: "\e63c";
}

.icf-delete:before {
	content: "\e603";
}

.icf-done:before {
	content: "\e604";
}

.icf-explore:before {
	content: "\e606";
}

.icf-favorite:before {
	content: "\e607";
}

.icf-favorite-outline:before {
	content: "\e608";
}

.icf-help:before {
	content: "\e60a";
}

.icf-info:before {
	content: "\e60c";
}

.icf-list:before {
	content: "\e60d";
}

.icf-query-builder:before {
	content: "\e60f";
}

.icf-reorder:before {
	content: "\e610";
}

.icf-report-problem:before {
	content: "\e611";
}

.icf-room:before {
	content: "\e612";
}

.icf-schedule:before {
	content: "\e613";
}

.icf-search:before {
	content: "\e614";
}

.icf-settings:before {
	content: "\e615";
}

.icf-shopping-basket:before {
	content: "\e616";
}

.icf-shopping-cart:before {
	content: "\e617";
}

.icf-toc:before {
	content: "\e618";
}

.icf-turned-in:before {
	content: "\e619";
}

.icf-turned-in-not:before {
	content: "\e61a";
}

.icf-verified-user:before {
	content: "\e61b";
}

.icf-view-headline:before {
	content: "\e61c";
}

.icf-error:before {
	content: "\e61d";
}

.icf-warning:before {
	content: "\e61e";
}

.icf-new-releases:before {
	content: "\e61f";
}

.icf-pause-circle-outline:before {
	content: "\e620";
}

.icf-play-arrow:before {
	content: "\e621";
}

.icf-call:before {
	content: "\e622";
}

.icf-email:before {
	content: "\e623";
}

.icf-live-help:before {
	content: "\e624";
}

.icf-location-on:before {
	content: "\e625";
}

.icf-add-circle-outline:before {
	content: "\e63d";
}

.icf-clear:before {
	content: "\e627";
}

.icf-create:before {
	content: "\e628";
}

.icf-drafts:before {
	content: "\e629";
}

.icf-markunread:before {
	content: "\e62a";
}

.icf-report:before {
	content: "\e62b";
}

.icf-attach-file:before {
	content: "\e62c";
}

.icf-insert-emoticon:before {
	content: "\e62d";
}

.icf-insert-photo:before {
	content: "\e63e";
}

.icf-mode-edit:before {
	content: "\e62e";
}

.icf-cloud-done:before {
	content: "\e62f";
}

.icf-cloud-download:before {
	content: "\e630";
}

.icf-desktop-mac:before {
	content: "\e63f";
}

.icf-down:before {
	content: "\e631";
}

.icf-left:before {
	content: "\e632";
}

.icf-right:before {
	content: "\e633";
}

.icf-up:before {
	content: "\e634";
}

.icf-keyboard-backspace:before {
	content: "\e635";
}

.icf-keyboard-control:before {
	content: "\e636";
}

.icf-laptop-mac:before {
	content: "\e640";
}

.icf-camera:before {
	content: "\e641";
}

.icf-remove-red-eye:before {
	content: "\e642";
}

.icf-local-movies:before {
	content: "\e643";
}

.icf-arrow-back:before {
	content: "\e644";
}

.icf-arrow-forward:before {
	content: "\e647";
}

.icf-menu:before {
	content: "\e648";
}

.icf-more-horiz:before {
	content: "\e649";
}

.icf-more-vert:before {
	content: "\e64a";
}

.icf-event-available:before {
	content: "\e64b";
}

.icf-play-install:before {
	content: "\e64c";
}

.icf-publ:before {
	content: "\e64d";
}

.icf-check-box:before {
	content: "\e637";
}

.icf-star:before {
	content: "\e638";
}

.icf-star-half:before {
	content: "\e639";
}

.icf-star-outline:before {
	content: "\e63a";
}

.icf-music:before {
	content: "\f001";
}

.icf-search2:before {
	content: "\f002";
}

.icf-home:before {
	content: "\f015";
}

.icf-photo:before {
	content: "\f03e";
}

.icf-map-marker:before {
	content: "\f041";
}

.icf-left-bold:before {
	content: "\f053";
}

.icf-right-bold:before {
	content: "\f054";
}

.icf-plus-circle:before {
	content: "\f055";
}

.icf-minus-circle:before {
	content: "\f056";
}

.icf-times-circle:before {
	content: "\f057";
}

.icf-check-circle:before {
	content: "\f058";
}

.icf-eye:before {
	content: "\f06e";
}

.icf-eye-slash:before {
	content: "\f070";
}

.icf-exclamation-triangle:before {
	content: "\f071";
}

.icf-warning2:before {
	content: "\f071";
}

.icf-calendar:before {
	content: "\f073";
}

.icf-up-bold:before {
	content: "\f077";
}

.icf-down-bold:before {
	content: "\f078";
}

.icf-shopping-cart2:before {
	content: "\f07a";
}

.icf-twitter-square:before {
	content: "\f081";
}

.icf-facebook-square:before {
	content: "\f082";
}

.icf-twitter:before {
	content: "\f099";
}

.icf-facebook:before {
	content: "\f09a";
}

.icf-credit-card:before {
	content: "\f09d";
}

.icf-google-plus-square:before {
	content: "\f0d4";
}

.icf-google-plus:before {
	content: "\f0d5";
}

.icf-caret-down:before {
	content: "\f0d7";
}

.icf-caret-up:before {
	content: "\f0d8";
}

.icf-caret-left:before {
	content: "\f0d9";
}

.icf-caret-right:before {
	content: "\f0da";
}

.icf-quote-left:before {
	content: "\f10d";
}

.icf-quote-right:before {
	content: "\f10e";
}

.icf-chevron-circle-left:before {
	content: "\f137";
}

.icf-chevron-circle-right:before {
	content: "\f138";
}

.icf-chevron-circle-up:before {
	content: "\f139";
}

.icf-chevron-circle-down:before {
	content: "\f13a";
}

.icf-youtube-square:before {
	content: "\f166";
}

.icf-youtube:before {
	content: "\f167";
}

.icf-youtube-play:before {
	content: "\f16a";
}

.icf-instagram:before {
	content: "\f16d";
}

.icf-apple:before {
	content: "\f179";
}

.icf-android:before {
	content: "\f17b";
}

.icf-skype:before {
	content: "\f17e";
}

.icf-foursquare:before {
	content: "\f180";
}

.icf-archive:before {
	content: "\f187";
}

.icf-vk:before {
	content: "\f189";
}

.icf-yelp:before {
	content: "\f1e9";
}

.icf-newspaper:before {
	content: "\f1ea";
}

.icf-google-wallet:before {
	content: "\f1ee";
}

.icf-cc-visa:before {
	content: "\f1f0";
}

.icf-cc-mastercard:before {
	content: "\f1f1";
}

.icf-cc-paypal:before {
	content: "\f1f4";
}

.icf-copyright:before {
	content: "\f1f9";
}

.icf-facebook-official:before {
	content: "\f230";
}

.icf-pinterest-p:before {
	content: "\f231";
}

