$icf-account-circle: "\e626";
$icf-assignment-turned-in: "\e600";
$icf-bookmark: "\e602";
$icf-bookmark-outline: "\e63c";
$icf-delete: "\e603";
$icf-done: "\e604";
$icf-explore: "\e606";
$icf-favorite: "\e607";
$icf-favorite-outline: "\e608";
$icf-help: "\e60a";
$icf-info: "\e60c";
$icf-list: "\e60d";
$icf-query-builder: "\e60f";
$icf-reorder: "\e610";
$icf-report-problem: "\e611";
$icf-room: "\e612";
$icf-schedule: "\e613";
$icf-search: "\e614";
$icf-settings: "\e615";
$icf-shopping-basket: "\e616";
$icf-shopping-cart: "\e617";
$icf-toc: "\e618";
$icf-turned-in: "\e619";
$icf-turned-in-not: "\e61a";
$icf-verified-user: "\e61b";
$icf-view-headline: "\e61c";
$icf-error: "\e61d";
$icf-warning: "\e61e";
$icf-new-releases: "\e61f";
$icf-pause-circle-outline: "\e620";
$icf-play-arrow: "\e621";
$icf-call: "\e622";
$icf-email: "\e623";
$icf-live-help: "\e624";
$icf-location-on: "\e625";
$icf-add-circle-outline: "\e63d";
$icf-clear: "\e627";
$icf-create: "\e628";
$icf-drafts: "\e629";
$icf-markunread: "\e62a";
$icf-report: "\e62b";
$icf-attach-file: "\e62c";
$icf-insert-emoticon: "\e62d";
$icf-insert-photo: "\e63e";
$icf-mode-edit: "\e62e";
$icf-cloud-done: "\e62f";
$icf-cloud-download: "\e630";
$icf-desktop-mac: "\e63f";
$icf-down: "\e631";
$icf-left: "\e632";
$icf-right: "\e633";
$icf-up: "\e634";
$icf-keyboard-backspace: "\e635";
$icf-keyboard-control: "\e636";
$icf-laptop-mac: "\e640";
$icf-camera: "\e641";
$icf-remove-red-eye: "\e642";
$icf-local-movies: "\e643";
$icf-arrow-back: "\e644";
$icf-arrow-forward: "\e647";
$icf-menu: "\e648";
$icf-more-horiz: "\e649";
$icf-more-vert: "\e64a";
$icf-event-available: "\e64b";
$icf-play-install: "\e64c";
$icf-publ: "\e64d";
$icf-check-box: "\e637";
$icf-star: "\e638";
$icf-star-half: "\e639";
$icf-star-outline: "\e63a";
$icf-music: "\f001";
$icf-search2: "\f002";
$icf-home: "\f015";
$icf-photo: "\f03e";
$icf-map-marker: "\f041";
$icf-left-bold: "\f053";
$icf-right-bold: "\f054";
$icf-plus-circle: "\f055";
$icf-minus-circle: "\f056";
$icf-times-circle: "\f057";
$icf-check-circle: "\f058";
$icf-eye: "\f06e";
$icf-eye-slash: "\f070";
$icf-exclamation-triangle: "\f071";
$icf-warning2: "\f071";
$icf-calendar: "\f073";
$icf-up-bold: "\f077";
$icf-down-bold: "\f078";
$icf-shopping-cart2: "\f07a";
$icf-twitter-square: "\f081";
$icf-facebook-square: "\f082";
$icf-twitter: "\f099";
$icf-facebook: "\f09a";
$icf-credit-card: "\f09d";
$icf-google-plus-square: "\f0d4";
$icf-google-plus: "\f0d5";
$icf-caret-down: "\f0d7";
$icf-caret-up: "\f0d8";
$icf-caret-left: "\f0d9";
$icf-caret-right: "\f0da";
$icf-quote-left: "\f10d";
$icf-quote-right: "\f10e";
$icf-chevron-circle-left: "\f137";
$icf-chevron-circle-right: "\f138";
$icf-chevron-circle-up: "\f139";
$icf-chevron-circle-down: "\f13a";
$icf-youtube-square: "\f166";
$icf-youtube: "\f167";
$icf-youtube-play: "\f16a";
$icf-instagram: "\f16d";
$icf-apple: "\f179";
$icf-android: "\f17b";
$icf-skype: "\f17e";
$icf-foursquare: "\f180";
$icf-archive: "\f187";
$icf-vk: "\f189";
$icf-yelp: "\f1e9";
$icf-newspaper: "\f1ea";
$icf-google-wallet: "\f1ee";
$icf-cc-visa: "\f1f0";
$icf-cc-mastercard: "\f1f1";
$icf-cc-paypal: "\f1f4";
$icf-copyright: "\f1f9";
$icf-facebook-official: "\f230";
$icf-pinterest-p: "\f231";
