/*--------------------------------------------------------------
VARIABLES
--------------------------------------------------------------*/
$row: 960px;
// Base typography settings
$fz: 14px;
$lh: 21px;
$font: Arial, Helvetica, sans-serif;;
$f_bold: Arial, Helvetica, sans-serif;;
$f_light: Arial, Helvetica, sans-serif;;
$h1: 22px;
$h2: 20px;
$h3: 18px;
$h4: 16px;
$h5: 14px;
$h6: 12px;
//COLORS
$basic: #009688;
$link: #f44336;
$btn: #009688;
$grey: #ddd;
$txt: #222;