/* ==========================================================================
   1. Wordpress default classes
2. Helpers
3. WYSIWYG
4. 404 page
5. Social link
   ========================================================================== */
@include declare-font-face('icf', 'icf', 400);
/* ==========================================================================
   WORDPRESS DEFAULT CLASSES
   ========================================================================== */
.alignleft{
    float: left;
}
.alignright{
    float: right;
}
.aligncenter{
    margin-right: auto;
    margin-left: auto;
}
img.aligncenter{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
// CUSTOM ICON FONT http://vskochko.github.io/icf/
[class^='icf-']:before, [class*=' icf-']:before{
    font-family: 'icf';
    font-weight: normal;
    font-style: normal;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    display: inline-block;
    width: 1em;
    // margin-right:.2em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    // margin-left:.2em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    text-shadow: 1px 1px 1px rgba(127, 127, 127, .3);

    speak: none;
}
/* ==========================================================================
   CF7
   ========================================================================== */
// .wpcf7 {


// input[type=text]:focus, input[type=email]:focus, textarea:focus{
//     border-color:  rgba(81, 203, 238, 1);
//     box-shadow: 0 0 5px rgba(81, 203, 238, .8);
// }


//     .wpcf7-submit {
//         font-size:16px;
//         line-height:30px;
//         width:130px;
//         height:30px;
//         color:#fff;
//         border:none;
//         background:$btn;
//         &:hover {
//             background:darken( $btn, 10% );
//         }
//     }
//     .screen-reader-response {
//         display:none !important;
//     }
//     .wpcf7-not-valid-tip {
//         font:500 14px/1 $font;
//         position:absolute;
//         top:0;
//         right:0;
//         left:0;
//         text-align:center;
//         color:#ff5f5f;
//         background:#eee;
//     }
//     .wpcf7-response-output {
//         display:none;
//         float:left;
//         width:96%;
//         margin:20px 0;
//         padding:2%;
//         text-align:center;
//         background:#fff;
//         &.wpcf7-validation-errors {
//             color:white;
//             background:#ff5f5f;
//         }
//         &.wpcf7-mail-sent-ng {
//             color:white;
//             background:#1091ae;
//         }
//         &.wpcf7-mail-sent-ok {
//             color:white;
//             background:#16a085;
//         }
//     }
//     .wpcf7-form-control-wrap {
//         position:relative;
//         display:block !important;
//     }
// ::-webkit-input-placeholder {
//    color: red;
// }
// :-moz-placeholder { /* Firefox 18- */
//    color: red;
// }
// ::-moz-placeholder {  /* Firefox 19+ */
//    color: red;
// }
// :-ms-input-placeholder {
//    color: red;
// }
// }
/* ==========================================================================
   HELPERS
   ========================================================================== */
.row{
    position: relative;
    width: $row;
    max-width: 100%;
    margin: 0 auto;
}
#content{
    padding: 20px 20px 40px 20px;
}
#wrap{
    min-height: 100%;
}
.c{
    font-size: 0;
    line-height: 0;
    display: block;
    clear: both;
    overflow: hidden;
}
.cfx{
    &:before, &:after{
        display: table;
        content: ' ';
    }
    &:after{
        clear: both;
    }
}
//Fix for Google maps
#map_canvas img{
    max-width: inherit;
}
.no_select{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    outline: 0;
    background: $btn;
    &:hover{
        background: darken( $btn, 5% );
        -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
             box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);

        webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    }
    a:active{
        color: red;
        background: darken( $btn, 10% );
    }
}
.underline{
    position: relative;
    display: inline-block;
    padding-bottom: 3px;
    &:after{
        display: block;
        width: 0;
        height: 1px;
        margin: auto;
        content: '';
        transition: width .5s ease, background-color .5s ease;
        background: transparent;
    }
    &:hover:after{
        width: 100%;
        background: #222;
    }
}
/* ==========================================================================
   WYSIWYG
   ========================================================================== */
.wysiwyg{
    p{
        padding-bottom: 20px;
    }
    a{
        position: relative;
        display: inline-block;
        &:after{
            display: block;
            width: 0;
            height: 1px;
            margin: auto;
            content: '';
            transition: width .4s ease, background-color .4s ease;
            background: transparent;
        }
        &:hover:after{
            width: 100%;
            background: $link;
        }
    }
    blockquote{
        font-size: 1.4em;
        font-style: italic;
        line-height: 1.6;
        position: relative;
        width: 60%;
        margin: 50px auto;
        padding: 1.2em 30px 1.2em 75px;
        color: #555;
        border-left: 8px solid #78c0a8 ;
        background: #ededed;
    }
    blockquote::before{
        font-family: Arial;
        font-size: 4em;
        position: absolute;
        top: -10px;
        left: 10px;
        content: '\201C';
        color: #78c0a8;
    }
    blockquote::after{
        content: '';
    }
    blockquote span{
        font-weight: bold;
        font-style: normal;
        display: block;
        margin-top: 1em;
        color: #333;
    }
}
/* ==========================================================================
   404 page
   ========================================================================== */
.error404{
    .icf-404{
        &:before{
            font-size: 100px;
            margin-bottom: 20px;
            content: '\e829';
            color: #f44336;
        }
    }
    main{
        margin-top: 20px;
        text-align: center;
    }
    h1{
        font-size: 18px;
        margin-bottom: 20px;
        span{
            font-size: 30px;
            display: block;
            margin-bottom: 10px;
        }
    }
    #searchform{
        width: 100%;
        max-width: 280px;
        margin: 0 auto;
        text-align: center;
        label{
            display: none;
        }
        input[type='text']{
            width: 100%;
            height: 30px;
            margin: 20px 0 ;
            border: 1px solid $grey;
            border-radius: 3px;
        }
        input[type='submit']{
            position: relative;
            padding: 10px 20px;
            color: #fff;
            border: none;
            border-radius: 3px;
            background: $btn;
            &:hover{
                background: darken( $btn, 5% );
            }
        }
    }
}
/* ==========================================================================
   SOCIAL LINK
   ========================================================================== */
.social_link{
    display: inline-block;
    float: right;
    width: auto;
    cursor: pointer;
    text-align: center;
    a{
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 5px;
        color: #fff;
        border-radius: 50%;

        @include transition(all, .15s, ease-in);
        &:before{
            font-size: 20px;
            position: relative;

            @include center();
        }
        &.icf-facebook{
            background: #3b5993;
            &:before{
                content: '\e858';
            }
        }
        &.icf-twitter{
            background: #55acee;
            &:before{
                content: '\e866';
            }
        }
        &.icf-google-plus{
            background: #d94733;
            &:before{
                content: '\e85d';
            }
        }
        &:hover{
            @include scale( 1.2 );
        }
    }
}
/*--------------------------------------------------------------
CUSTOM ICON FONT http://vskochko.github.io/icf/
--------------------------------------------------------------*/
[class^='icf-']:before, [class*=' icf-']:before{
    font-family: 'icf';
    font-weight: normal;
    font-style: normal;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    display: inline-block;
    width: 1em;
    // margin-right:.2em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    // margin-left:.2em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    text-shadow: 1px 1px 1px rgba(127, 127, 127, .3);

    speak: none;
}
/* ==========================================================================
   CONTACT FORM 7
   ========================================================================== */
// .wpcf7 {
//     .wpcf7-submit {
//         font-size:16px;
//         line-height:30px;
//         width:130px;
//         height:30px;
//         color:#fff;
//         border:none;
//         background:$btn;
//         &:hover {
//             background:darken( $btn, 10% );
//         }
//     }
//     .screen-reader-response {
//         display:none !important;
//     }
//     .wpcf7-not-valid-tip {
//         font:500 14px/1 $font;
//         position:absolute;
//         top:0;
//         right:0;
//         left:0;
//         text-align:center;
//         color:#ff5f5f;
//         background:#eee;
//     }
//     .wpcf7-response-output {
//         display:none;
//         float:left;
//         width:96%;
//         margin:20px 0;
//         padding:2%;
//         text-align:center;
//         background:#fff;
//         &.wpcf7-validation-errors {
//             color:white;
//             background:#ff5f5f;
//         }
//         &.wpcf7-mail-sent-ng {
//             color:white;
//             background:#1091ae;
//         }
//         &.wpcf7-mail-sent-ok {
//             color:white;
//             background:#16a085;
//         }
//     }
//     .wpcf7-form-control-wrap {
//         position:relative;
//         display:block !important;
//     }
// ::-webkit-input-placeholder {
//    color: red;
// }
// :-moz-placeholder { /* Firefox 18- */
//    color: red;
// }
// ::-moz-placeholder {  /* Firefox 19+ */
//    color: red;
// }
// :-ms-input-placeholder {
//    color: red;
// }
// }