@import "01_variables", "02_mixins";
/*--------------------------------------------------------------
CLASSES
--------------------------------------------------------------*/
#wrap {
    min-height:100%;
}
.c {
    font-size:0;
    line-height:0;
    display:block;
    clear:both;
    overflow:hidden;
}
.cfx {
    &:before, &:after {
        display:table;
        content:" ";
    }
    &:after {
        clear:both;
    }
}

/* Parent of .valign must have fixed height*/
.valign2 {
    position:relative;
    top:50%;
    @include transform(translateY(-50%));
}
//Fix for Google maps
#map_canvas img {
    max-width:inherit;
}
/*--------------------------------------------------------------
WORDPRESS CLASSES
--------------------------------------------------------------*/
.alignleft {
    float:left;
}
.alignright {
    float:right;
}
.aligncenter {
    margin-right:auto;
    margin-left:auto;
}
img.aligncenter {
    display:block;
    margin-right:auto;
    margin-left:auto;
}
.row {
    position:relative;
    width:$row;
    max-width:96%;
    margin:0 auto;
}
#content {
    padding:20px 20px 40px 20px;
}
.hidden {
    display:none;
}
.no_select {
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
}
.btn {
    line-height:40px;
    display:block;
    width:80px;
    height:40px;
    cursor:pointer;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    color:#fff;
    border-radius:3px;
    outline:0;
    background:$btn;
    &:hover {
        background:darken( $btn, 10% );
    }
    &:active {
    }
    &:focus {
    }
}
.underline_lr {
    position:relative;
    display:inline-block;
    padding-bottom:3px;
    &:before {
        position:absolute;
        bottom:0;
        left:0;
        display:block;
        width:0;
        height:1px;
        content:"";
        transition:width 0s ease, background .5s ease;
    }
    &:after {
        position:absolute;
        right:0;
        bottom:0;
        display:block;
        width:0;
        height:1px;
        content:"";
        transition:width .5s ease;
        background:#000;
    }
    &:hover {
        &:before {
            width:100%;
            transition:width .5s ease;
            background:#000;
        }
        &:after {
            width:100%;
            transition:all 0s ease;
            background:transparent;
        }
    }
}
.underline_c {
    position:relative;
    display:inline-block;
    padding-bottom:3px;
    &:after {
        display:block;
        width:0;
        height:1px;
        margin:auto;
        content:"";
        transition:width .5s ease, background-color .5s ease;
        background:transparent;
    }
    &:hover:after {
        width:100%;
        background:#222;
    }
}
/*--------------------------------------------------------------
WYSIWYG
--------------------------------------------------------------*/
.wysiwyg {
    p {
        padding-bottom:20px;
    }
    a {
        position:relative;
        display:inline-block;
        &:after {
            display:block;
            width:0;
            height:1px;
            margin:auto;
            content:"";
            transition:width .4s ease, background-color .4s ease;
            background:transparent;
        }
        &:hover:after {
            width:100%;
            background:$link;
        }
    }
    blockquote {
        font-size:1.4em;
        font-style:italic;
        line-height:1.6;
        position:relative;
        width:60%;
        margin:50px auto;
        padding:1.2em 30px 1.2em 75px;
        color:#555;
        border-left:8px solid #78c0a8 ;
        background:#ededed;
    }
    blockquote::before {
        font-family:Arial;
        font-size:4em;
        position:absolute;
        top:-10px;
        left:10px;
        content:"\201C";
        color:#78c0a8;
    }
    blockquote::after {
        content:"";
    }
    blockquote span {
        font-weight:bold;
        font-style:normal;
        display:block;
        margin-top:1em;
        color:#333;
    }
}
