*{
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    overflow-y: scroll;
    height: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}
body{
    font: 400 14px/20px $f5;
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
}
#wrap{
    flex: 1 0 auto;
}
details, main, summary{
    display: block;
}
audio, canvas, progress, video{
    display: inline-block;
    vertical-align: baseline;
}
mark{
    background: none;
}
::-moz-selection{
    color: #fff;
    background: $basic;
}
::selection{
    color: #fff;
    background: $basic;
}
/* ==========================================================================
   FORMS & TABLE & NAVIGATION
   ========================================================================== */
input, textarea, select{
    padding: 0 10px;
    outline: 0 none;

    -webkit-appearance: none;
    @include transition(all, .2s, ease-in-out);
}
button, html input[type='button'], input[type='reset'], input[type='submit']{
    cursor: pointer;
}
input[type='text'], input[type='email']{
    padding: 0 5px 0 10px;
}







input[type=text]:focus, input[type=email]:focus, textarea:focus{
    border-color: rgba(81, 203, 238, 1)!important;
    box-shadow: 0 0 3px rgba(81, 203, 238, 1);
}


button[disabled], html input[disabled]{
    cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner{
    border: 0;
}
nav ul{
    list-style: none;
}
ol{
    list-style: decimal;
}
table{
    border-spacing: 0;
    border-collapse: collapse;
}
/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */
h1, h2, h3, h4, h5, h6{
    font: 400 16px/1 $f5;
    color: $txt;
}
a{
    text-decoration: none;
    color: $link;
    outline: 0;

    @include transition(all, .2s, ease);
    &:hover{
        outline: 0;
    }
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}
hr{
    display: block;
    clear: both;
    height: 1px;
    margin: 20px 0;
    border: 0 none;
    background: #707070;
}
strong, b{
    font-family: $bold;
    font-weight: normal;
}