
/* ==========================================================================
   HELPERS
   ========================================================================== */
.row{
    position: relative;
    width: $row;
    max-width: 100%;
    margin: 0 auto;
}
#content{
    padding: 20px 20px 40px 20px;
}
#wrap{
    min-height: 100%;
}
.c{
    font-size: 0;
    line-height: 0;
    display: block;
    clear: both;
    overflow: hidden;
}
.cfx{
    &:before, &:after{
        display: table;
        content: ' ';
    }
    &:after{
        clear: both;
    }
}
//Fix for Google maps
#map_canvas img{
    max-width: inherit;
}
.no_select{
    -webkit-user-select: none;
       -moz-user-select: none;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    outline: 0;
    background: $btn;
    &:hover{
        background: darken( $btn, 5% );
        -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
           -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
                box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    }
}
.underline{
    position: relative;
    display: inline-block;
    padding-bottom: 3px;
    &:after{
        display: block;
        width: 0;
        height: 1px;
        margin: auto;
        content: '';
        transition: width .5s ease, background-color .5s ease;
        background: transparent;
    }
    &:hover:after{
        width: 100%;
        background: $basic;
    }
}
/* ==========================================================================
   WORDPRESS DEFAULT CLASSES
   ========================================================================== */
.aligncenter{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.alignleft{
    float: left;
}
.alignright{
    float: right;
}
.wp-caption{
    margin: 10px;
    padding-top: 4px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f3f3f3;
}
.wp-caption img{
    margin: 0;
    padding: 0;
    border: 0 none;
}
.wp-caption p.wp-caption-text{
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
/* ==========================================================================
   WYSIWYG
   ========================================================================== */
.wysiwyg{
    p{
        padding-bottom: 20px;
    }
    a{
        position: relative;
        display: inline-block;
        &:after{
            display: block;
            width: 0;
            height: 1px;
            margin: auto;
            content: '';
            transition: width .4s ease, background-color .4s ease;
            background: transparent;
        }
        &:hover:after{
            width: 100%;
            background: $link;
        }
    }
    blockquote{
        font-size: 1.4em;
        font-style: italic;
        line-height: 1.6;
        position: relative;
        width: 60%;
        margin: 50px auto;
        padding: 1.2em 30px 1.2em 75px;
        color: #555;
        border-left: 8px solid #78c0a8 ;
        background: #ededed;
    }
    blockquote::before{
        font-family: Arial;
        font-size: 4em;
        position: absolute;
        top: -10px;
        left: 10px;
        content: '\201C';
        color: #78c0a8;
    }
    blockquote::after{
        content: '';
    }
    blockquote span{
        font-weight: bold;
        font-style: normal;
        display: block;
        margin-top: 1em;
        color: #333;
    }
}


/* ==========================================================================
   SOCIAL LINK
   ========================================================================== */
.social_link{
    display: inline-block;
    float: right;
    width: auto;
    cursor: pointer;
    text-align: center;
    a{
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 5px;
        color: #fff;
        border-radius: 50%;

        @include transition(all, .15s, ease-in);
        &:before{
            font-size: 20px;
            position: relative;

            @include center();
        }
        &.icf-facebook{
            background: #3b5993;
            &:before{
                content: '\e858';
            }
        }
        &.icf-twitter{
            background: #55acee;
            &:before{
                content: '\e866';
            }
        }
        &.icf-google-plus{
            background: #d94733;
            &:before{
                content: '\e85d';
            }
        }
        &:hover{
            @include scale( 1.2 );
        }
    }
}
/*--------------------------------------------------------------
CUSTOM ICON FONT http://vskochko.github.io/icf/
--------------------------------------------------------------*/
[class^='icf-']:before, [class*=' icf-']:before{
    font-family: 'icf';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    display: inline-block;
    width: 1em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
}
/* ==========================================================================
   CONTACT FORM 7
   ========================================================================== */
.wpcf7{
    .wpcf7-submit{
        font-size: 16px;
        line-height: 30px;
        width: 130px;
        height: 30px;
        color: #fff;
        border: none;
        background: $btn;
        &:hover{
            background: darken( $btn, 10% );
        }
    }
    .screen-reader-response{
        display: none !important;
    }
    .wpcf7-not-valid-tip{
        font: 500 14px/1 $font;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        text-align: center;
        color: #ff5f5f;
        background: #eee;
    }
    .wpcf7-response-output{
        display: none;
        float: left;
        width: 96%;
        margin: 20px 0;
        padding: 2%;
        text-align: center;
        background: #fff;
        &.wpcf7-validation-errors{
            color: white;
            background: #ff5f5f;
        }
        &.wpcf7-mail-sent-ng{
            color: white;
            background: #1091ae;
        }
        &.wpcf7-mail-sent-ok{
            color: white;
            background: #16a085;
        }
    }
    .wpcf7-form-control-wrap{
        position: relative;
        display: block !important;
    }
    ::-webkit-input-placeholder{
        color: $text;
    }
    ::-moz-placeholder{
        color: $text;
    }
    :-ms-input-placeholder{
        color: $text;
    }
}
/* ==========================================================================
   GRID
   ========================================================================== */
//----- Extends
%clearfix:after{
    display: block;
    clear: both;
    content: '';
}
//----- Grid System
$grid-spacing: 3%;
.grid{
    &+&{
        margin-top: $grid-spacing;
    }
}
[class^='col-']{
    float: left;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: $grid-spacing;
    &:last-child{
        margin-right: 0;
    }
}
//----- Columns (Automatic)
.col-1{
    width: (100% / 12) - ($grid-spacing * 11 / 12);
}
.col-2{
    width: (100% / 6) - ($grid-spacing * 10 / 12);
}
.col-3{
    width: (100% / 4) - ($grid-spacing * 9 / 12);
}
.col-4{
    width: (100% / 3) - ($grid-spacing * 8 / 12);
}
.col-5{
    width: (100% / 2.4) - ($grid-spacing * 7 / 12);
}
.col-6{
    width: (100% / 2) - ($grid-spacing * 6 / 12);
}
.col-7{
    width: (100% / 1.714285714285714) - ($grid-spacing * 5 / 12);
}
.col-8{
    width: (100% / 1.5) - ($grid-spacing * 4 / 12);
}
.col-9{
    width: (100% / 1.333333333333333) - ($grid-spacing * 3 / 12);
}
.col-10{
    width: (100% / 1.2) - ($grid-spacing * 2 / 12);
}
.col-11{
    width: (100% / 1.090909090909091) - ($grid-spacing * 1 / 12);
}
.col-12{
    width: 100%;
}